[2019-04-24 23:04] netwolfuk commented on #132
Ok cool. I'll get a release done as soon as I get a chance. Thanks for your help.

[2019-05-08 01:33] netwolfuk commented on #132
released

[2019-05-08 01:33] #132 closed

[2019-05-14 14:09] Vadim-Zenin commented on #43
Could the removing offending jars tool works with TeamCity server deployed with docker?

[2019-05-14 14:54] netwolfuk commented on #43
As you have noticed, the jars return if the docker container is stopped and started.

It might be possible to snapshot the container before stopping. https://stackoverflow.com/a/22379305

Or create volumes for the two locations listed on the removal page.

[2019-06-02 10:35] kichnan commented on #130
I think the problem is because value of `${changes}` is not **escaped** when replacing it in the JSON blob. Right? I'm facing a similar issue.

One interesting thing I noticed in the above example was the usage of `${capitalise(...)}` and `${substr(...)}`. Are these in-built functions provided by TeamCity, or are they specific to this plugin? Anyway, so, are their such functions available for esca

[2019-06-02 13:47] netwolfuk commented on #130
Hi @kichnan

The code is supposed to do the serialisation for you here: https://github.com/tcplugins/tcWebHooks/blob/2675215f3e641e90e3fc1f7a284397b62f86f4c3/tcwebhooks-core/src/main/java/webhook/teamcity/payload/format/WebHookPayloadJsonTemplate.java#L79

Yes, those commands are provided by the plugin here https://github.com/tcplugins/tcWebHooks/blob/1.1.x.x/tcwebhooks-core/src/main/java/webhook/

[2019-06-05 07:12] hagaygo opened #135 "teamcity 2019.1 supported ?"
just a question , does teamcity 2019.1 supported ? any issues ?

[2019-06-05 07:15] netwolfuk commented on #135
Yes. I've not seen any issues.

[2019-06-05 07:20] netwolfuk commented on #135
I just checked and my test system is running tcWebHooks 1.2, so I'll run up a new one with the latest 1.1 release and test.

[2019-06-05 09:05] netwolfuk commented on #135
Yep. Seems to be working fine. Please let me know if you find any issues.

I'll close this ticket.

[2019-06-05 09:05] #135 closed

[2019-06-05 10:22] hagaygo commented on #135
Just upgraded to 2019.1.

Everything seems to be working fine.

Thanks for you quick reply.

[2019-06-20 19:24] Keilaron opened #137 "Project names cause create/edit dialog to fail to show"
Summary:
Create/edit webhook dialog does not show up if a project **name** contains characters not allowed in a Javascript expression, e.g. colons, parentheses, etc.

## Expected Behavior
Dialog should show up when clicking create/edit

## Current Behavior
Clicking create or edit when a "problem" project is present causes a Javascript error to occur, and the only UI change is e.g. the row changing

[2019-06-20 19:45] netwolfuk commented on #137
Hi @Keilaron.

The error you are seeing is possibly because of a recent update working around JS code injection in the page from the Project or Build name. I may have been a bit heavy handed removing possible Javascript characters.

With regards to the "running" vs "complete" text, I found this recently too. Normally I have complicated builds which have a result of "xx tests passed" or something l

[2019-06-20 19:46] netwolfuk commented on #137
@Keilaron , BTW, can I have an example project/build name to test against?

[2019-06-20 19:54] Keilaron commented on #137
Are you sure? This seems like the opposite -- where a string is being interpreted as bare Javascript code rather than being treated as a string (danger!). I haven't tried to isolate where in the code this happens though so I may be mistaken.

[2019-06-20 19:57] Keilaron opened #138 "Incorrect status ("running") reported by webhook on a finished/finishing build"
_Originally posted by @netwolfuk in https://github.com/tcplugins/tcWebHooks/issues/137#issuecomment-504157488_

We experience this issue with every build. I think cancelled and error'd builds are reported correctly, but successful ones _always_ show up as "running".

Maybe it would be possible to introduce an async delay to wait for the actual status before reporting the status via the webhook?

[2019-06-20 20:00] netwolfuk commented on #137
The commit is  2675215 on the 1.1.x.x branch, but there is a lot to go through.
I'll do some test and see what I can reproduce. Will be next week though, as the plugin competition finishes on Monday.

[2019-06-20 20:08] Keilaron commented on #137
I guess it depends on what `c:out` is doing.

[2019-06-20 20:09] netwolfuk commented on #138
The result might be hard coded in the slack compact template for non-successful results. I'd need to check that.

[2019-06-20 20:10] netwolfuk commented on #137
I suspect it is more likely to be my is code and the hand crafted escape function I wrote.

[2019-06-20 20:19] Keilaron commented on #138
I do see "Success" if I use the preview on a completed build.

[2019-06-20 20:23] netwolfuk commented on #138
Yes. That's annoying... https://github.com/tcplugins/tcWebHooks/wiki/Testing-a-WebHook

[2019-06-20 20:27] Keilaron commented on #137
How silly of me, I had assumed that was provided and not something you had created! Paying more attention, the solution is simpler -- why are you using `.html(...)` when you clearly aren't trying to actually insert HTML? There's a `.text(...)` function you could use instead in those scenarios. :)

[2019-06-20 21:02] netwolfuk commented on #137
Terrific. Thank you for your feedback. I welcome any other suggestions you have.

Would you be interested in making any changes you can see and submitting a PR? I'm not as well versed in front end stuff.

[2019-06-20 21:05] Keilaron commented on #137
I could write a patch or create a PR I suppose, but I wouldn't have an easy way to test/verify it..

[2019-06-20 22:01] netwolfuk commented on #137
If you could, that would be great. I'm happy to test it.

[2019-06-28 06:38] netwolfuk commented on #137
Hi @Keilaron   Did you get a chance to look into this?

[2019-06-28 19:36] netwolfuk commented on #137
I reproduce this on TeamCity 2019.1.1 (build 66192) running tcWebHooks 1.1.318.391.
But not on tcWebHooks 1.2 snapshot (locally). So I'm looking to find what could have changed in the next release.

[2019-06-28 20:45] netwolfuk commented on #137
OK, I think I have found it. Ironically, the debug logging was the cause. Removing the logging has resolved it.

[2019-06-28 20:47] Keilaron commented on #137
I had cloned it a few hours ago but hadn't started digging in yet.. I'm glad you were able to find it because I wasn't convinced what we were previously talking about was the cause (though I think it would still be good to exchange those functions I mentioned -- they work very similarly so it's a drop-in replacement if you don't need HTML within what's being passed).

[2019-06-28 21:21] netwolfuk commented on #137
Thanks for your advice. I will also change those `html()` calls to `text()`.

[2019-06-28 21:22] Keilaron commented on #137
I've got a WIP, should I make a PR to 1.1.x.x?

[2019-06-28 21:29] netwolfuk commented on #137
Yes please. I can cherry pick onto master once tested.

[2019-06-30 10:49] netwolfuk commented on #137
I have rebased/squashed the branch down to a single commit, and then rebased that only the 1.1.x.x. branch.
Then did a full build, and tested ready for release which has now been done at:
 https://github.com/tcplugins/tcWebHooks/releases/tag/v1.1.326.392

Huge thanks to @Keilaron for all your help and guidance with jQuery.

[2019-06-30 10:49] #137 closed

[2019-07-05 06:16] netwolfuk commented on #138
I have the code working for this against 1.2. Do you want a special release against 1.1 as well?

It might be a while before 1.2 is out of beta, so just trying to judge your urgency.

[2019-07-06 20:38] netwolfuk opened #143 "Show diff of template when user overriden"
Allow diffing an edited template with the bundled version.

[2019-07-11 05:10] netwolfuk opened #144 "Add ability to include common code into velocity templates"
There should be a way to "include" code in a velocity template.

Currently any macros need to be added to the top of every event template.

Velocity supports including other files, I just need to figure out a way to do with without actual files.

[2019-07-11 05:36] netwolfuk commented on #144
Incudes could simply appear like normal buildstate templates, but have a type to identify them as such, and an ID so they can be included by ID.

[2019-07-20 12:05] netwolfuk commented on #143
To be released with tcWebHooks 1.2 alpha2

[2019-07-20 12:05] #143 closed

[2019-07-20 20:40] netwolfuk commented on #132
released in 1.2.0 alpha2 too.

[2019-07-20 20:41] netwolfuk commented on #137
Also released in 1.2.0-alpha.2
https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.2

[2019-07-20 20:42] netwolfuk commented on #138
Released in https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.2

[2019-07-20 20:42] #138 closed

[2019-07-20 20:42] netwolfuk commented on #129
Released in https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.2

[2019-07-20 20:42] #129 closed

[2019-07-20 20:42] netwolfuk commented on #143
Released in https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.2

[2019-07-20 20:44] #52 closed

[2019-07-20 20:45] #40 closed

[2019-07-20 22:05] Keilaron commented on #138
Ah, sorry -- I meant to respond to this sooner. *This* issue I'm not concerned with being released ahead of time (though I would appreciate it of course), and I see you've made another 1.1.x build for the other issue, so I think we're OK for now, thank you. :)

[2019-07-20 22:16] netwolfuk commented on #138
I have merged this one against 1.1.x.x too, so if you really want it there should be a build on teamcity.jetbrains.com

I have done a new release yet though as you have already observed.

[2019-07-30 05:12] Swoorup opened #145 "How do you add code coverage metrics"
Is it possible to get the code coverage figures once the build finishes? i.e the figures in the Reported Statistics Values?

I have searched through templates and examples but it doesn't seem possible?

![image](https://user-images.githubusercontent.com/3408009/62102445-8cb09a00-b2cb-11e9-940c-c043c2537882.png)

[2019-07-30 05:55] netwolfuk commented on #145
Yes. You're right. That data is not available to the templating engine.

Once it's added it would be accessible via methods available to the velocity templates.

I just need to come up with a better way to add it to the Velocity context. Adding it the existing payload would probably break the other formats because they would try the serialise it and most likely fail to do so.

[2019-08-02 11:36] netwolfuk commented on #145
Depends on #31

[2019-08-02 12:07] netwolfuk commented on #118
I have a proof of concept working using the build from: [this branch](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_31-add_more_items_to_velocity_payload&buildTypeTab=overview)

[code]
Produces the following:
[code]

[2019-08-03 12:42] netwolfuk commented on #145
Hi @Swoorup  I have added preliminary support for accessing the build object (SBuild) via Velocity.

Please [try a build from this branch,](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_31-add_more_items_to_velocity_payload&buildTypeTab=overview) and create a template using the example on the [Velocity page on the wiki](https://github.com/tcplugi

[2019-08-03 12:45] netwolfuk commented on #118
Depends on #31

[2019-08-03 14:54] Swoorup commented on #145
That's pretty cool. Can confirm that it works. 👍
Can't wait for the release

[2019-08-03 18:31] netwolfuk commented on #145
Will you wait for a release that's not alpha (no ETA yet) or do you mean when that branch is merged to master and `1.2.0alpha-3` is released?

[2019-08-05 04:14] Swoorup commented on #145
I prefer to wait for a release that's not alpha.

Have a couple of teamcity slack build messages that we could replace via this plugins which opens to bit more customization.

I resolved the initial code coverage by instead using a custom powershell script as a build step which is another build project and has a dependency on the project on which I want to report coverage metrics from (not really

[2019-08-05 06:10] netwolfuk commented on #145
Ok, I'll leave this ticket open until 1.2 is released.

Yeah. That would be pretty simple in velocity

[2019-08-16 00:11] pgrefviau commented on #131
Hey @netwolfuk , I was about to open a new issue when I stumbled on this one. I was actually going to request the same kind of change, but only in the context of **testing** a given template (i.e. using [these ](https://github.com/tcplugins/tcWebHooks/blob/a888ad8826fa4eaeb953de0c9e4332e3cd6abe43/tcwebhooks-rest-api/src/main/java/webhook/teamcity/server/rest/request/TemplateTestRequest.java#L36)en

[2019-08-16 00:46] netwolfuk commented on #131
Hi @pgrefviau. Is what you want already available via the **Test** tab on the webhook edit dialog?
Underneath, that dialog uses a pseudo REST endpoint to execute or preview a webhook based on a Template.

[2019-08-16 01:25] netwolfuk commented on #131
I managed to get it working from cURL, although it's a bit of a pain.

`curl -u 'username:password' -H "Accept:application/json" -H "Content-Type: application/json" http://192.168.1.72:8111/webhooks/testWebHook.html?action=execute -X POST -d '{ "url": "http://localhost:8111/webhooks/endpoint.html", "projectExternalId": "TcPlugins", "uniqueKey": "new", "testBuildState": "buildFailed", "buildId": "1

[2019-08-19 08:59] netwolfuk commented on #131
I've been thinking about this some more.

When project template support is added,  I'm wondering if we just say that templates can't be overridden at the project level.

With this model, if you want a project template, it needs to  have its own template id. Then we don't need to worry about inheritance issues and my concerns above are negated.

It would still be possible to copy existing templates

[2019-08-19 19:40] pgrefviau commented on #131
I'm not exactly sure on what tab the user that reported this was on when she encountered the error. All I was sent is this picture:
![image](https://user-images.githubusercontent.com/2433245/63294196-8edc9780-c27e-11e9-8279-349a01a680a7.png)

[2019-08-19 19:56] netwolfuk commented on #131
Yes. That's the template editing screen. The reason I did it that way was because I was too lazy to figure out all the the edge cases for permissions. Eg, I'd only need to show projects the user is permitted to execute webhooks on, otherwise there's a chance they could execute a webhook to there own URL with a template or build which someone may have baked some sensitive data into.

I guess it dep

[2019-08-26 00:33] netwolfuk commented on #113
Item 3 is not done yet.

[2019-08-29 20:55] AndrewFuller opened #146 "Protected URL not resolving for "Build Finished" events"
## Expected Behavior
URL parameterized on a Password variable should resolve to the real URL.

## Current Behavior
URL resolution seems to work for some events, but not all.  It appears to work for "Build Started" and "Changes Loaded", perhaps others.

## Steps to Reproduce (for bugs)

1. Create a TeamCity Property containing the URL for the webhook: webhook.slack-url
2. Mark said property as "Pas

[2019-08-29 22:13] netwolfuk commented on #146
Wow, that's a really neat solution for hiding the token in the URL. I never thought of that.
And thanks for pointing out that it doesn't work for success.
Is it all `buildFinished` events, or just success?

[2019-08-29 22:16] netwolfuk commented on #146
Also, do you have webhooks configured in the above screenshot. Or is it trying to process the webhook twice? (all those 701 errors).

[2019-08-29 22:36] netwolfuk commented on #146
Thanks, I can reproduce this.
Also the following bugs:
1. This type of variable resolution in the URL does not work in Test tab when editing a webhook.
2. This type of variable resolution does not work with the Velocity Templates (probably needs a different syntax).

[2019-08-29 22:46] netwolfuk commented on #146
The following is how the events are affected:

- Build Added to queue. This probably is expected. I don't think anything has been resolved at this point, but the actual URL resolves to `UNRESOLVED`
- Build Started - resolves correctly.
- Changes loaded - resolves correctly.
- Almost finished - resolves to a hidden value in teamcity which is weird.
- Finished (success, failure, fixed, broken)  - re

[2019-08-29 22:58] AndrewFuller commented on #146
Wow!  Thanks for the super-quick response!

Just tried a failure, it seems to have the same issue.

I was also wondering what was with the 701; I didn't think it was the other hook.  Yes, I had 2 there.  The first that I was trying to get working, and then the second as a testbed to identify the bug & report it.  I just re-did the test in a dedicated project with only the one webhook and it does n

[2019-09-03 14:27] AndrewFuller commented on #146
Just following up with this as I see this issue is labeled "awaiting feedback".  Was there further feedback you're looking for from me?  Something I missed in my previous reply?  I just want to make sure this isn't blocked on me.

[2019-09-03 18:56] netwolfuk commented on #146
Sorry, not blocked on you. Blocked on me finding the time to step through the code on that version. That instance of TeamCity doesn't have remote debugging enabled.

[2019-09-05 02:00] netwolfuk commented on #146
I'm not sure I'll be able to fix this. The `Map<String,String>` of parameters returns the obscured value in the finishing and finished build states.
I've raised a ticket to ask how to get the values. https://youtrack.jetbrains.com/issue/TW-61876

[2019-09-06 09:35] netwolfuk commented on #146
Hi @AndrewFuller The team at teamcity have indicated that we can't solve this using the method you are using. The values are obscured to prevent inadvertently revealing the values.

I'll have a think about how I could support this in future, but I can't see it being solved easily in the short term.

[2019-09-06 09:41] netwolfuk commented on #146
Possible ideas:

- Store value as a `SProjectFeatureDescriptor` with `secure:` prefix.
- Sort of related to: #82
- Would need to traverse up the project hierarchy to find a declared variable and inject that into the template context.

[2019-09-06 14:20] AndrewFuller commented on #146
Thanks for the update, @netwolfuk

The properties marked "password" are really just a poor man's security, anyway.  It helps to guard against shoulder surfing, but anyone with permissions to edit a build step and 10min to spare can easily exfiltrate the value.

I googled SProjectFeatureDescriptor and it looks like something to be done within tcWebHooks.  This would be a superior solution anyway, a

[2019-09-06 18:31] netwolfuk commented on #146
Yes. It's been available since TC10. tcWebHooks 1.1 is compatible with TC9.

It stores the data in the project config, which can be converted to kotlin and exported and imported. So implementing it requires some care to handle updates outside the UI.

Any plugin can call the `getAll` method and get any value for any project for any plugin, so not properly secured. 😣

Ok. Yours could be stored in t

[2019-09-06 23:53] netwolfuk commented on #83
Values for **Type** are: *Text* or *Password*.
Values for **Scope** are: *This Webhook* (future) and then all projects from current up to _Root. Project for which user has `PROJECT_EDIT` permission are available, and others are non-selectable.
Values for **Visibility** are: *Available as Template variable* or *Include in legacy payloads and template variables*.
![edit_webhook_parameter](https://us

[2019-09-06 23:53] #83 closed

[2019-09-16 13:20] jshumaker commented on #43
I just had to deal with this in the docker container, mainly i had applied fix but then adjusted container.  I moved to building my own image off the official ones, for example this Dockerfile will build a docker image with the offending pieces removed:

[code]

Note it doesn't remove from .unpacked as that doesn't exist within the image, only once a container has been brought up.

I further combi

[2019-09-16 15:26] netwolfuk commented on #43
Thanks @jshumaker. This is a really nice solution. Thanks for posting.
I'm very much hoping the jaxb jars will be removed in an upcoming TeamCity release, and this issue will be resolved.

[2019-09-16 20:07] netwolfuk commented on #43
BTW @jshumaker  that youtrack 57311 gets moved to the next release every time there is a new version of TeamCity. It's been imminent for a few years.

[2019-09-16 20:26] jshumaker commented on #43
Sigh I was fearing that but didn't take a look at the history.  Pretty familiar with things slipping like that from Jetbrains. I've been waiting for non-horrible clean up rules for 7+ years.  I guess this workaround will live in my Dockerfile for a long time more likely.

[2019-09-16 20:29] netwolfuk commented on #43
I'm wondering if I push your config to docker hub and run a build to build new images whenever the TeamCity images are updated

[2019-09-16 20:32] netwolfuk commented on #43
Also, I am making progress on #122 although I've not pushed anything yet.

[2019-09-19 10:14] netwolfuk commented on #145
This is available for testing in the [v1.2.0-alpha.3](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.3) release.

[2019-09-19 10:15] netwolfuk commented on #134
This is available for testing in the [v1.2.0-alpha.3](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.3) release.

[2019-09-19 10:15] netwolfuk commented on #118
This is available for testing in the [v1.2.0-alpha.3](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.3) release.

[2019-09-19 10:16] netwolfuk commented on #113
This is available for testing in the [v1.2.0-alpha.3](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.3) release.

[2019-09-19 10:16] netwolfuk commented on #103
This is available for testing in the [v1.2.0-alpha.3](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.3) release.

[2019-09-19 10:17] netwolfuk commented on #56
This is available for testing in the [v1.2.0-alpha.3](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.3) release.

[2019-09-19 10:17] netwolfuk commented on #48
This is available for testing in the [v1.2.0-alpha.3](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.3) release.

[2019-09-19 10:17] netwolfuk commented on #31
This is available for testing in the [v1.2.0-alpha.3](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.3) release.

[2019-09-20 16:12] #134 closed

[2019-09-29 02:00] netwolfuk commented on #116
Hi @alexkaos87
The latest 1.2 alpha has a bunch of auto generated tags visible on the search page `/webhooks/search.html`.
I plan to allow adding your own tags too.

[2019-09-30 16:59] alexkaos87 commented on #116
Hi @netwolfuk ,

this is awesome.

thank you

[2019-10-28 13:04] artem-tomyuk opened #147 "How to use it for google chat?"
Hi,
is it possible to use it for GoogleChat notifications, it seems there is no valid payload template for it

## Current Behavior
with any available payload format test fails with error:
Error: WebHook endpoint returned non-2xx response (Bad Request) (400)
URL: https://chat.googleapis.com/v1/spaces/...... etc

[2019-10-28 14:37] netwolfuk commented on #147
Yes. There is no Google chat template.

Can you please add a link to the documentation for the chat you're using? I found some information about Gsuite hangouts. Is that what you mean?

[2019-10-28 15:17] netwolfuk commented on #147
Thanks. If you're a TeamCity administrator, it's easy to create a new template for hangouts.
See  https://github.com/tcplugins/tcWebHooks/wiki/WebHook-Templates-%3A-Web-UI

And the template body should be constructed like this: https://developers.google.com/hangouts/chat/reference/message-formats/basic

[2019-10-28 15:27] netwolfuk commented on #147
I just noticed that the wiki I linked to hasn't been updated with the latest version.

It's possible to test your template as you edit it by clicking the preview button and sending a test webhook. This means you can iterate on the payload content without having to run a build.

[2019-10-28 16:22] artem-tomyuk commented on #147
Great, thanks for your help, will try it.

пн, 28 жовт. 2019, 17:27 користувач netwolfuk <notifications@github.com>
пише:

[2019-10-31 03:45] netwolfuk opened #149 "Add ability to exclude vcs modification resolution whilst building payload"
See #148

[2019-11-06 09:55] netwolfuk commented on #147
Hi @artem-tomyuk
How did you get on with your chat template?
Do you have a working template you could share?
Can we close this ticket?

[2019-11-07 00:39] netwolfuk commented on #149
PR raised:  #150

[2019-11-07 00:40] netwolfuk commented on #149
**Add ability to limit or exclude vcs file list whilst building payload**

This change includes the following new features:
1. The list of changed VCS files can be disabled.
2. The list of changed VCS files can be disabled if it is too large. The
default value is 100 files across all changes in a build.

NOTE: In the cases where the change list is disabled or too large (1 & 2
above), the payload w

[2019-11-20 03:10] netwolfuk commented on #138
Released

[2019-11-20 03:45] #149 closed

[2019-11-20 03:48] netwolfuk commented on #147
Closing. Please re-open if you have further queries.

[2019-11-20 03:48] #147 closed

[2019-11-20 11:03] netwolfuk commented on #130
Hi @buumi   I finally has a chance to look at this with a build that has changes from multiple VCS's.

In my opinion we have a few issues here:
Firstly, the format that Slack wants to see here does not work well with the output from the `$changes` object. The `${changes}` object in tcWebHooks 1.1 looks like this:

[code]

Simply putting that into the slack payload will have two problems.
1. The ob

[2019-11-20 11:07] netwolfuk commented on #130
BTW, this issue can be reproduced with any change. It doesn't have to have multiple VCS's

[2019-12-02 08:02] mcctomsk commented on #60
Hi!
We had to move to your project because https://github.com/PeteGoo/tcSlackBuildNotifier project is no longer actively maintained and it doesn't support well our version of TeamCity.
What we use:
1. TeamCity Professional 2019.1.5 / Windows
2. tcWebHooks major version: 1.1.355.396
3. Yes.
4. jsonTemplate
5. Slack
6. Best - Preview Template it's super feature! Worst - doesn't support good parsing

[2019-12-02 09:05] netwolfuk commented on #60
Thanks for your feedback @mcctomsk

Pete's code (which was actually forked from mine originally) does some extra magic to map teamcity users to slack ids. I've not looked at it recently, so am unsure if that logic could be implemented in Velocity or not.

[2019-12-02 10:14] netwolfuk commented on #43
FYI, @jshumaker  It looks like this will be resolved in 2019.2
See https://youtrack.jetbrains.com/issue/TW-57311

Hopefully after that, we won't have to worry about the docker dance.

[2020-01-28 08:45] snlehton opened #151 "Supplying parameters from project/build settings"
## Expected Behavior

Based on the code here
https://github.com/tcplugins/tcWebHooks/blob/a8ea5c10614406fb5a1a7d7b8321bca95fef1c9b/tcwebhooks-core/src/main/java/webhook/teamcity/WebHookContentBuilder.java#L291
I expect to be able to supply parameters from the project/build settings to tcWebHooks templates by adding "webhook." in the beginning of the parameter.

## Current Behavior

Parameters star

[2020-01-28 09:17] netwolfuk commented on #151
Hi there. Thanks for your bug report. Can I ask which type of template you are creating?

If you're using 1.2.0 it will be one of:
- jsonTemplate
- jsonVelocityTemplate
- xmlTemplate
- xmlVelocityTemplate

I suspect a velocity template. I have a hunch that they might not be resolved correctly. Either that or I have a regression to find.

[2020-01-28 10:05] netwolfuk commented on #151
Also, I just realised you're using the preview option.
Please set the webhook parameter and actually run a build with that parameter set.

Then when you preview choose that build as the build to base the preview from.

That preview feature pulls in all the state from that actual build run. If that parameter was not set in the build, the preview won't find it, and it will be null or UNRESOLVED.

[2020-01-28 10:23] netwolfuk commented on #151
Also. The `webhook.foo -> foo` aren't really as crucial in the templates, as you can simply add `${webhook.foo}` to your template where required.

They were more useful in the legacy formats where you wanted `foo` to be a top level item in the payload because your endpoint was expecting it to be there.

[2020-01-28 11:45] snlehton commented on #151
Thanks for the quick reply. Yes I'm using jsonVelocityTemplate (that's the reason I installed 1.2 as the TC plugin dictionary only has 1.1.x).

BTW; I would love to see some documentation about the more complex variables (I know this is a separate issue but I'll just put it out here). Example:

[code]

For example how do I know what fields or methods are available like `$change.version` or `$mycha

[2020-01-28 12:07] snlehton commented on #151
I just tested the template on a new build (where the variable has been set), and I can confirm that it is working!

But I also noticed that my idea of passing the Github repo url does not really work, as the DSL repo I'm using for TeamCity configuration triggers new builds where the changelist is effectively from a different repo (the DSL repo).

Which leads to the question that how can I know wha

[2020-01-28 12:45] netwolfuk commented on #151
I think you should be able to. I can't remember what changes contains, but hopefully it's a SVcsModification. You can try calling the methods on that object or anything it extends.

http://javadoc.jetbrains.net/teamcity/openapi/current/jetbrains/buildServer/vcs/SVcsModification.html

[2020-01-28 20:05] netwolfuk commented on #122
This can be closed. Jetbrains have stopped bundling the jars with their rest API (which my plugin extends), so this issue does not present in new TeamCity versions.

[2020-01-28 20:05] #122 closed

[2020-01-29 08:50] snlehton commented on #151
Hmm, I tried that and VcsChange, but I guess the "change" is actually WebHooksChanges and "change.change" is WebHooksChange. From there I can get vcsRoot, but AFAIK I have no way of parsing the url (basically removing the branch from it and appending "/commit/" and commit revision.

With this:
[code]

I was able to make it work so that I see commits and have links to them into Github. The name of

[2020-01-29 08:50] #151 closed

[2020-01-29 09:51] netwolfuk commented on #151
Oh dear. Sorry I lead you astray on that one. There was a good reason for implementing those classes. The default TeamCity implementations have circular references, and won't serialise to JSON correctly.

[2020-01-29 09:55] netwolfuk commented on #151
I think on 1.2.0 the build object is available to velocity and you could get the modifications from that, and then you'd have the TeamCity versions, not my JSON compatible webhook versions.

[2020-01-29 09:57] netwolfuk commented on #151
PS. Sorry to be so vague. I'm on vacation at the moment, and only have my phone on which to reply. Trawling through code is tricky.

[2020-01-29 10:01] netwolfuk commented on #151
`build` will be of type `SBuild` on case you want to find it on the iavadoc page posted above.

[2020-01-29 14:46] snlehton commented on #151
That sounds cool!

Don't worry, Internet will be there even after your vacation so just disable the notifications :)

For now I'm happy with how this works. Version 1.2 allows us to write pretty complex Slack messages

[2020-01-29 19:26] netwolfuk commented on #151
Great. If you can share a working solution I'd be grateful. There is a project for sharing templates at https://github.com/tcplugins/tcWebHooksTemplates

Exporting is now super easy in 1.2.0. There is a link in the actions menu (top right).

One thing I've been thinking about recently is a JsonToMap command in velocity. I'd hope it could be used to map git names to slack names, and then you could

[2020-03-04 15:47] jadenz98 opened #152 "Saving Webhook Event Template Fails with Alert Dialog [Object object]"
## Expected Behavior
When creating a webhook event template, the event template should be saved upon clicking Save Template.

## Current Behavior
An alert dialog appears with the text [Object object], the event template dialog remains, and the event template is not saved.

## Steps to Reproduce (for bugs)
1. Navigate to the Webhook Templates page under **Administration** and click **Add New Templa

[2020-03-04 16:40] netwolfuk commented on #152
Hi @jadenz98 can you please take a look at the JavaScript console in your browser and see if there are any errors there?

Open the console and then click save.
There might be an error shown. There should be the object displayed. Can you have a look and see what the object contains?

[2020-03-04 16:42] netwolfuk commented on #152
Also, which browser are you using? Name and version please.

[2020-03-04 17:40] jadenz98 commented on #152
Here is a screenshot of the error and object I see in the developer console on Google Chrome. If you need more detailed information please let me know.

Also, my browser is Google Chrome version 78.0.3904.97

![Capture](https://user-images.githubusercontent.com/21692626/75906623-f6ba9000-5e14-11ea-9769-c5592431d133.PNG)

[2020-03-05 11:53] netwolfuk commented on #152
Hi @jadenz98  I have reproduced this problem. It occurs when the `webapps/ROOT` directory is renamed to `webapps/teamcity` (in your case).

This changes what's called the "context" in Tomcat. However, the TeamCity REST API does not build the REST API URLs correctly when building the response, and my code just uses the `href` returned by teamcity to build the URL to POST to.

I have raised a bug wi

[2020-03-05 18:23] netwolfuk commented on #152
The response from the TeamCity developers is that this is by design.

I will need to work around it by prefixing the context onto the URL when the rest request is executed.

I'll work on this over the weekend and do a new release to resolve this issue.

[2020-03-06 10:26] netwolfuk commented on #152
@jadenz98 A [new release](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.1.357.397) is available, which fixes this bug.

Thanks for taking the time to report it.

[2020-03-06 10:26] #152 closed

[2020-03-12 19:43] ogerovich opened #153 "Warnings in teamcity-server.log"
## Expected Behavior
No WARN messages from the plugin.

## Current Behavior
[code]

## Steps to Reproduce (for bugs)
1. Upload the plugin to the server that never had it and enable it or restart a server that had it
2. Check teamcity-server.log.

## Your Environment

* tcWebHooks Version: 1.1.355.396
* TeamCity Version: 2019.2.2
* TeamCity server Operating System: Windows 10
* Are you using a WebH

[2020-03-12 22:28] netwolfuk commented on #153
Hi @ogerovich. Thanks taking the time to report this.
Last time I saw this I thought that the problem is because I'm extending the TeamCity provided classes for this stuff, but I'll take another look.

Do you work with jetbrains? Is this a solvable problem, and I'm doing something wrong?

[2020-03-12 22:35] netwolfuk commented on #153
Oh. Looking at the code this should have a public constructor. I'll try to fix over the weekend.

[2020-03-13 13:06] ogerovich commented on #153
Hi @netwolfuk.
I'm a JetBrains customer and use TeamCity along with your plugin. Unfortunately, I'm not very familiar with plugins to recommend anything. I just noticed these warnings and wanted to let you know.

[2020-03-13 18:19] netwolfuk commented on #153
Thanks. That's cool.

I've fixed the issue, I just want to do some more testing and will do a release this weekend.

[2020-03-16 10:12] netwolfuk commented on #153
Release. Closing ticket.

[2020-03-16 10:12] #153 closed

[2020-03-16 13:57] ogerovich commented on #153
Thank you. I deployed the plugin. No more warnings.

[2020-03-16 17:54] netwolfuk commented on #153
Great. Thanks for the feedback

[2020-03-18 09:35] netwolfuk commented on #131
This is available in 1.2.0 alpha 4. I'll leave this ticket open (but tagged as waiting for release) and will close it when 1.2.0 final is released.

Please do try it out. The alpha is stable. 1.2.0 final might be quite a while away yet.

[2020-03-18 09:35] netwolfuk commented on #131
1.2.0 alpha 4 is here: https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha.4

[2020-04-02 12:25] andriskaaz opened #154 "Failed to initialize Spring Context"
## Expected Behavior
Successful installation

## Current Behavior
Error when installing rest plugin.

`org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'mainAutowireCandidateResolver' defined in URL [jar:file:/opt/teamcity/webapps/ROOT/WEB-INF/lib/common-impl.jar!/META-INF/teamcity-global-spring-candidate-resolver.xml]: Unsatisfied dependency expresse

[2020-04-02 18:25] netwolfuk commented on #154
Thanks for reporting. I'm not sure I've tested it on 2018.1.5. I'll get back to you asap.

[2020-04-02 18:53] netwolfuk commented on #154
Hi @andriskaaz

Did you try any other 1.2 alpha versions with TC 2018.1.5.
What was the previous version of tcWebHooks that you ran?

Thanks.

[2020-04-02 18:55] andriskaaz commented on #154
Nope, I did not try other alpha version. The previous version was 1.1.362.398.

[2020-04-02 19:09] netwolfuk commented on #154
OK, thanks. I can re-produce this on 2018.1.5.

I will test 2018.2.1, and also previous tcWebHooks releases to see if I can reproduce on those too.

[2020-04-02 19:44] andriskaaz commented on #154
Thank you.

[2020-04-02 22:17] netwolfuk commented on #154
This error does not present in 2018.2.1  Is there a chance you could upgrade to the latest 2018?

[2020-04-03 07:59] andriskaaz commented on #154
No, we are locked to 2018.1.5. :(

[2020-04-03 09:34] netwolfuk commented on #154
Ah. Ok. I'll have a search through the commit history of the TeamCity Rest API to see if I can determine what happened.

When you ran tcWebHooks 1.1 did you have the tcWebHooks rest API installed too?

I suppose I could just test that. Oops sorry didn't think of that until now.

[2020-04-03 09:56] netwolfuk commented on #154
hmm, 1.1.362.398. works in 2018.1.5
So maybe it's something I could fix.  The major changes are that tcWebHooks 1.2.x is based on TC10 jars, whereas 1.1.x.x uses TC9 jars.

[2020-04-03 10:04] andriskaaz commented on #154
yes.

Thank you for your support

[2020-04-03 19:59] netwolfuk commented on #154
I have now tested all the 1.2.0 alphas. They all present with this issue, but the 1.1.362.398 version does not. I'll go through the branch differences over the weekend. There are a lot. :-\

[2020-04-05 11:03] netwolfuk commented on #154
After a lot of searching through code, I found the following in my log...

[code]
The `allow-runtime-reload` is a new feature since 2018.2. However, how it presents on older versions of TeamCity is quite weird. It loads the plugin, but does not add it into the index of plugins correctly. Then when the `tcWebHooks-REST-API` plugin loads, it depends on the `tcWebHooks` plugin which it can't find in

[2020-04-06 08:17] andriskaaz commented on #154
Everything works with the new version. Thank you 💯

[2020-04-06 08:39] netwolfuk commented on #154
Great. I'll do an alpha 5 release.

[2020-04-06 10:51] netwolfuk commented on #154
Released. Thanks for your responsiveness to my questions.

[2020-04-06 10:51] #154 closed

[2020-04-08 19:48] jshumaker opened #155 "SSL handshake errors to https://hooks.slack.com"
## Expected Behavior
Slack incoming webhooks work with the plugin

## Current Behavior
Both trying to preview & test the webhooks, or triggering them from a build results in:
[code]

checking server logs, it shows this:
[code]

## Steps to Reproduce (for bugs)
1. Add some SSl/HTTPS Certificates to `<Root project>`
2. Create a slack webhook
3. Attempt to test or trigger the webhook.

## Your Enviro

[2020-04-08 19:54] netwolfuk commented on #155
Thanks for raising this @jshumaker

I'll try to reproduce this. Could you give me some more details on what certs you added to the JVM?

Do you need a client cert for LDAP? Which files in the JVM were modified?

[2020-04-08 19:56] netwolfuk commented on #155
Oh. Did you add them to TeamCity somehow? I've not seen this option.

[2020-04-08 20:12] jshumaker commented on #155
If you edit the root project, there's an "SSL / HTTPS Certificates" section where you can upload custom trusted certificates. I'm not adding client certificates there, only adding CA Root certs for our Windows Active Directory so the ldaps connection is trusted. I then had to add some self-signed certs from a couple internal servers so the vsphere cloud plugin would work with them. In each case th

[2020-04-08 20:14] jshumaker commented on #155
https://www.jetbrains.com/help/teamcity/2019.2/uploading-ssl-certificates.html

That's the documentation on this, fairly limited details.

[2020-04-08 20:21] netwolfuk commented on #155
Thanks @jshumaker

I'll try reproducing this. Thanks for the detailed info. Yeah, I hear you on ssl and java.

I suspect there are a few things that could be better.

1. The TeamCity cert implementation appears to replace the java trust store, rather than appending to it.
2. tcWebHooks should be failing with the more predictable "valid certification path".
3. If the error really is a client cert i

[2020-04-08 22:08] jshumaker commented on #155
1. It generally appears like it did append to it, most ssl requests are working fine.  The other changed behavior I had was where suddenly self-signed certs it did not complain about previously, it now started to complain about.  So I had to add more trusted certs for those.
2. Agreed, if that is what is happening, but everything I've found thus far suggests it's a different failure path.
3. That

[2020-04-08 22:56] netwolfuk commented on #155
I just did a very simple test...
1. Installed internal root-ca into Root project.
2. Ran a build which sent a message to slack.

I'm not able to reproduce this yet. However, a little googling implies that that error could be intermittent. I wonder if it depends on which webserver gets hit on `hooks.slack.com`. Some might have SSL disabled, and only support TLS.

[2020-04-09 14:42] jshumaker commented on #155
In my scenario it's not intermittent, happens every time for weeks.  I'm hoping today I can come up with a from-scratch reproduction.  If not I'll try to packet capture from production.

[2020-04-09 18:45] netwolfuk commented on #155
Ok, you're probably way ahead of me, but what I would do is:

Spin up a new docker instance and start removing certs from the root project until it works.

I'm really surprised you needed to add in any certs for slack.

Are you using a proxy to get to slack?

[2020-04-09 19:37] netwolfuk commented on #155
@jshumaker If you manage to reproduce it, I'm happy to try your certs if you can get permission to share them. Can send you a gpg public key.

[2020-04-09 21:10] netwolfuk commented on #155
I use docker-compose for managing my docker instances.
I added the following to my compose file.

[code]
then with `docker-compose logs -f` I can see the SSL conversation happening with `hooks.slack.com`

[2020-04-09 22:53] jshumaker commented on #155
Unfortunately other things came up today so I didn't get a chance to spend more time on this yet.

I did not have to add any certs for slack.  The certs are added for our companies active directory.  We're using LDAP for the authentication and to connect to it securely, TeamCity needed to accept the cert, which required adding it like this.

[2020-04-09 23:08] netwolfuk commented on #155
Ok. Sorry. That was my misunderstanding.
FYI. I'm running the same TeamCity and tcWebHooks version as you, and have not been able to reproduce it.

I'll wait to hear from you.

[2020-04-10 14:44] jshumaker commented on #155
I was going over our configuration further and noticed we're setting jsse.enableSNIExtension to false and I strongly suspect it's causing this.  I'm going to verify behavior in a test and if so close this out.  I suspect we set this option long ago and it's no longer relevant.

[2020-04-10 15:12] jshumaker commented on #155
Confirmed, jsse.enableSNIExtension was the cause of this, and unrelated to adding the certificates.  Adding it on test setup reproduces it,  removing it fixes it. No need for adding any certificates.I'm guessing it was instead going from TeamCity 2019.1.3 to 2019.2.2 docker image that caused it to change behavior.  Sorry for bothering you with this, and hopefully anyone else googling this can save

[2020-04-10 15:12] #155 closed

[2020-04-10 17:13] netwolfuk commented on #155
Thanks for the update. I'm really glad you found it.

I think the new docker images are based on open jdk rather than oracle. That might be why that flag was causing issues.

I'll have to research what that does.

[2020-04-10 17:36] jshumaker commented on #155
It turns off "Sever Name Indication" SSL/TLS extension.  Typically used for virtual hosts by domain name.  hooks.slack.com and likely others most likely require it on?  Several years ago the opposite was true, some hosts broke if you passed it instead of ignoring it.  Some change in behavior around it with the jdk versions though triggered it to start failing for me. Or who knows, maybe it was a c

[2020-04-15 13:58] Nachiket26 commented on #155
Hi,

Is there any update on this? Does removing the entry "-Djsse.enableSNIExtension=false" altogether fix the issue without causing any side-effects?

My setup is a bit old:
TeamCity: 9.1 (build 36973)
Operating system: Linux (2.6.32-504.16.2.el6.x86_64, amd64)
Java: 1.8.0_102-b14 (Oracle Corporation)
Servlet container: Apache Tomcat/7.0.59

and the error is as follows:

Trace: javax.net.ssl.SSLE

[2020-04-15 14:46] jshumaker commented on #155
It definitely fixes the issue. Whether it will cause side effects or not depends upon your specific environment and why you used the option in the first place. In my case it was a specific source control system that had issues with SNI, but that system had been replaced or upgraded to not be an issue years ago.

Most likely it won't cause an issue as everything has updated to properly handle the e

[2020-04-16 08:03] Nachiket26 commented on #155
Thanks a lot @jshumaker for the information.

For some strange reason without the change, it started working today evening. But its not consistent yet. So, I'll have to check it anyway. Thanks for your help.

[2020-04-27 09:53] Nachiket26 commented on #103
Hi,

I am little to this - as  I can see. Thanks @netwolfuk  for this amazing plugin.

I am facing the exact same problem : I have multiple vcs roots and the changes are not seen correctly.

I am getting the same error as @taizoon  : https://github.com/tcplugins/tcWebHooks/issues/103#issuecomment-485506211

and the problem is I am using TeamCity 9.1.1 with the plugin version 1.1.318.391. I cannot

[2020-04-27 09:58] netwolfuk commented on #103
Hi @Nachiket26 The support for velocity templates is only available from the 1.2.0 versions (currently in alpha, but still very stable). However, I'm not testing against version 9 of TeamCity anymore.

tcWebHooks 1.2.0 might work, but I've not tested it on anything before TeamCity 10.

I'll do a quick test now to see if it works with TeamCity 9

[2020-04-27 10:48] netwolfuk commented on #103
Hi @Nachiket26 I just downloaded and installed TeamCity 9.1.7 (couldn't find a docker image for 9.1.1) and tcWebHooks 1.2.0 alpha 4 works quite well. I have found one minor bug, where you can't edit project webhooks and template from the Project Configuration screen, but there are other ways to do that anyway.

I'd say give it a go on a test teamcity if you have one.

[2020-04-27 10:52] Nachiket26 commented on #103
Thanks a lot @netwolfuk for a quick turn-around. I am trying it now locally and then on official server. I'll let you know how it goes.

[2020-04-27 11:00] netwolfuk commented on #103
oops, sorry. I am testing on tcWebHooks 1.2.0 alpha 5

[2020-04-27 11:29] netwolfuk commented on #103
I'm seeing some issues with the editing of Templates on TeamCity 9.1.7 with tcWeHook 1.2.0-alpha5. I'll need to do some more testing on it. Let me know if you can successfully edit a WebHook template on 9.1.1

[2020-04-27 11:31] Nachiket26 commented on #103
Hi @netwolfuk, I was just giving 1.2.0 alpha 5 a try on my TC 9.1.1 server. It seems as you said, there are issues in editing project webhooks and sending test notifications as well - I keep on getting the error :

_Error has occurred during request processing (Internal Server Error).
Error: java.lang.ArrayIndexOutOfBoundsException
Error initializing REST API_

[2020-04-27 11:38] netwolfuk commented on #103
ok. that's what I'm seeing too. I will keep looking at it, but I won't be able to get back to you today. I thought it might be related to #112 , but I suspect you would've seen it in 1.1.318.391 since it's in that version too. I'll keep digging, but it might take me a few days. I appreciate your patience.

[2020-04-27 11:57] Nachiket26 commented on #103
@netwolfuk Thanks for your help. Surprisingly, I did not see such problems in 1.1.318.391.

[2020-04-27 20:33] netwolfuk commented on #103
Ok. The editing of project webhooks is a bug and will affect all versions of TeamCity if no webhook templates exist for a project (which is all projects initially).

The other two issues are probably both related to the rest API issue you saw. I think I have found a possible cause for that too, but I need to do some more testing.

[2020-04-28 00:23] netwolfuk opened #156 "Investigate support in 1.2.0 for TeamCity 9.1"
Installing the tcWebHooks REST API in version 1.2.0 alpha5 causes the TeamCity REST API to break with the following errors:

[code]
Doesn't appear to happen in version 1.1.x.x.

See conversation at the end of #103

[2020-04-28 00:27] netwolfuk opened #157 "Edit WebHook Test and Preview dialog does not update when different template is chosen"
## Expected Behavior
In WebHook Test dialog, changing the Payload Template shold change the testing payload.

## Current Behavior
Only the template selected when the dialog opens is used for testing, even if template has been changed.

## Steps to Reproduce (for bugs)
1. Open existing webhook edit dialog box.
2. Change template
3. Switch to Test & Preview Tab
4. Payload preview should reflect chos

[2020-04-28 04:22] Nachiket26 commented on #103
@netwolfuk That's great! Thanks for looking into it.

I was looking into 1.1.318.391 source yesterday to see if I could make a place for multiple changes - but I didn't get a good solution.

If you want me try something out on TeamCity 9.x - I can help.

[2020-04-28 04:33] netwolfuk commented on #156
@Nachiket26, lets deal with 9.1.x related issues on this ticket.

[2020-04-28 04:48] netwolfuk commented on #156
Hi @Nachiket26  Can you please confirm which version of Java you are using with TC9?

[2020-04-28 04:53] Nachiket26 commented on #156
Yes, sure @netwolfuk
I am using java version "1.8.0_102" on my actual server and "1.8.0_251" to test locally.

[2020-04-28 04:55] netwolfuk commented on #156
ok, great thanks. I didn't want to have to backport to Java 7 :-)

[2020-05-01 12:36] netwolfuk commented on #156
I've checked out and built and deployed every commit between 1.1.x.x and v1.20.alpha3.

The problem was introduced in commit d89344cc1076dd8bb8befd351a42ace99f1678df
From then, the REST fails in TeamCity 9.1.7

There is a lot to work through in that commit. The obvious one being the TeamCity version, chaned from 9.1 to 10.0
But I rolled that back to 9.1 and it didn't resolve it.  My current hunch

[2020-05-01 18:54] Nachiket26 commented on #156
Thank you very much @netwolfuk for the debugging. Please let me know if I can be of any help.

[2020-05-03 09:26] netwolfuk commented on #156
Note to self:

[code]

[2020-05-03 10:21] netwolfuk commented on #156
I have found the bug. I found I still had the old branch on my home computer, which has been squashed into commit d89344c. It consisted of 27 separate commits. I went though each one, checked out the point in the git history, ran the build, deployed the plugin and restarted TC9. Fortunately TC9 restarts really fast, since it's still on the old Tomcat version. I have literally restarted TeamCity 27

[2020-05-03 10:40] #156 closed

[2020-05-03 10:40] #157 closed

[2020-05-03 11:10] netwolfuk commented on #156
Hi @Nachiket26 Can you please test a build from [here](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=&mode=builds)  (just login as a guest).

The builds from today fix three issues: #156, #157 and also the bug we talked about with the webhooks not displaying in the Project Config page.

[2020-05-03 11:11] netwolfuk commented on #103
FYI, TC9.1 support now fixed. See #156

[2020-05-03 11:14] netwolfuk commented on #103
This is also resolved in master. I will do a release this week to resolve these issues.

[2020-05-03 14:25] Nachiket26 commented on #156
Hi @netwolfuk , I can confirm that with build #367 I could configure the webhook plugin for TC 9.1, change the template to Velocity template, verify that the pages open correctly and define and use macros. Thanks a lot for all your efforts. Please let me know if I can pick up this build to configure on my prod TC or you will be publishing officially on this repo.

There is a minor thing though. Fo

[2020-05-03 20:00] netwolfuk commented on #156
Hi @Nachiket26 thanks for taking the time to test it out for me.

With regards to the 'UNRESOLVED', it's a bit different because in Velocity it's useful to have a null returned to the template engine to make a conditional decision. However I must admit this is poorly communicated. I need to update the wiki page about velocity templates. Feel free to add it if you get a chance.

It would be easy to

[2020-05-03 20:10] netwolfuk commented on #156
It'll be something like `NullUtils.toUnResolved(build.vcs.value)`

[2020-05-04 01:17] netwolfuk commented on #156
Hi @Nachiket26   I have added a Velocity utility called `$nullUtils` with the following methods:

- `$nullUtils.toUnResolved(Object value)`
- `$nullUtils.toUnResolved(Object value, boolean wrapWithQuotes)`

The `wrapWithQuotes` adds a `"` to the beginning and end. This is useful if you are expecting it to be an object, but if it returns a string, it will need to be wrapped.

#### Example usage:
[c

[2020-05-04 14:00] Nachiket26 commented on #156
@netwolfuk , could this be tried on build [#368](https://teamcity.jetbrains.com/viewLog.html?buildId=2907593&buildTypeId=WebHooksAndOtherPlugins_TcWebHooks) or should I wait for tcWebHooksPlugin 1.2.0-alpha.6?

[2020-05-04 15:09] netwolfuk commented on #156
Yes, please try it on 368. If your don't find any other showstoppers, I'll probably release that exact build as alpha 6.

[2020-05-04 15:47] Nachiket26 commented on #156
368 looks perfect. Thank you very much @netwolfuk

[2020-05-04 15:59] Nachiket26 commented on #156
Sorry a minor query, within the macro - I can define the whether to use a newline, comma or something as a separator, right?

_#foreach( $change in $mychanges )
$change.change.username_

seems to be taking /n (new-line) as a separator, so asking to confirm.

Thanks.

[2020-05-04 19:17] netwolfuk commented on #156
oh, I'm not sure. Do you have a reference to the docs where it says that?

This is what I am building for slack with changes....

[code]

[2020-05-05 15:58] Nachiket26 commented on #156
@netwolfuk , Sorry, I did not get a chance to do it today. I'll get back to you tomorrow. Thanks.

[2020-05-07 05:29] Nachiket26 commented on #156
Hi @netwolfuk ,

Sorry for the delay in response.

When I am using the following in the changes (just to add a comma after the commit :: committer pair)

`#if ( $mychanges.size() > 0 )
#set( $first = true )
#foreach( $change in $mychanges )
#if($first)
#set($first = false)
#else,
#end
• #substr($change.version,0,7,32) :: #resolveSlackUid($change.change.username)#end
#else No Changes found #end
#en

[2020-05-07 05:38] netwolfuk commented on #156
Is that all one line in the template?

[2020-05-07 05:58] Nachiket26 commented on #156
No it is as follows :

## Define macro called "showchanges"
#macro( showchanges $mychanges )
#if ( $mychanges.size() > 0 )
#set( $first = true )
#foreach( $change in $mychanges )
#if($first)
#set($first = false)
#else,
#end
• #substr($change.version,0,7,32) :: #resolveSlackUid($change.change.username)#end
#else No Changes found #end
#end

[2020-05-07 06:09] netwolfuk commented on #156
It's pretty yucky to read, but you can actually remove the new lines like this...

#if($first)#set($first = false)#else,#end

That might fix it

[2020-05-07 06:12] netwolfuk commented on #156
There is also some built in loop variables to know if you're the first iteration.

[2020-05-07 06:17] Nachiket26 commented on #156
ok, Thanks @netwolfuk - It does get resolved :-) Thanks for all your help. Are you going to make release soon with 368 as alpha 6?

[2020-05-07 06:23] Nachiket26 commented on #156
It seems that variables like velocityCount, etc are deprecated in 2.0. I tried an example it caused a error - so I thought I would stick to this logic.

[2020-05-07 06:26] netwolfuk commented on #156
Great. I'm not 100% keen on how whitespace it handled, and will look into it in further alphas.

But yes, if you're happy I'll release this build as alpha 6.

[2020-05-07 06:28] Nachiket26 commented on #156
Yes, all issues are resolved. :+1:

[2020-05-07 06:30] netwolfuk commented on #156
Oh. I was not aware of that. I think I'm still on 1.7 as that's the latest stable. I should check that though, as I was going to go to 2.2 recently.

[2020-05-07 06:33] netwolfuk commented on #156
Btw. If you want a project to work on, I'd love editor to be smarter with suggestions for velocity. From memory it's a JavaScript callback to get the suggestions.

[2020-05-07 06:52] netwolfuk commented on #156
Cool. I'm try to get a release out on the next 6 hours

[2020-05-07 12:06] netwolfuk commented on #156
Alpha.6 Released

[2020-05-16 08:11] netwolfuk commented on #151
BTW, JsonMap is now implemented (in alpha4). See : https://github.com/tcplugins/tcWebHooks/wiki/WebHook-Templates-:-The-Velocity-Templating-Engine

[2020-05-28 09:48] nrukavkov opened #158 "Release 1.2.0"
Hello. When are u gonna release a version 1.2?

[2020-05-28 09:52] netwolfuk commented on #158
Hi @nrukavkov   At the moment I get only a few hours a week to work on it. So, it's taking a while unfortunately.
[These are the items left before release on milestone 1.2. ](https://github.com/tcplugins/tcWebHooks/issues?q=is%3Aopen+is%3Aissue+milestone%3Av1.2+-label%3A%22waiting+for+release%22)
Are you waiting for something specific?

[2020-05-28 12:27] netwolfuk commented on #111
I've implemented a mix of both solutions. As you can see, the webhooks associated to the build are listed separately (and excluded from the project webhook list).

![image](https://user-images.githubusercontent.com/88687/83140529-52f62d00-a142-11ea-8578-699df039aae3.png)

But viewing the project tab, shows the all the webhooks, event if they are only relevant to a specific build or set of builds.

[2020-05-28 12:35] netwolfuk commented on #111
Also, these are now available when editing a project, as it seems more logical to find them there.

![image](https://user-images.githubusercontent.com/88687/83141611-175c6280-a144-11ea-87ea-fd3fa8cfc7dd.png)

[2020-05-28 12:39] netwolfuk commented on #111
I'll post here when the next alpha 1.2.0 is released.

[2020-05-29 22:47] netwolfuk commented on #158
Down to five issues left now. Maybe you could try a 1.2 version and do some testing?

[2020-05-30 09:07] netwolfuk commented on #33
I just pushed support for NTLM. Since we last talked about this, Apache Componnts HttpClient has added support directly to the client. So I've updated to the latest version and added the required code. Much easier than last time I looked at it.

Can someone reply here if they want to test it? I've not been able to, since I don't have access to any windows machines.

[2020-06-02 11:15] nrukavkov commented on #158
Hi. Yeah, we are waiting a callback event 'added to queue'

[2020-06-02 14:05] netwolfuk commented on #158
Oh right. That was quite complicated. I don't think I'd be able to back port that to 1.1

You're more than welcome to try an alpha release. They are very stable.

[2020-06-02 21:12] nrukavkov commented on #158
Is it possible to rollback from 1.2 to 1.1 if something is going wrong? I mean without a setting up it like a new installation. Or it would be better to backup some config files?

[2020-06-02 22:19] netwolfuk commented on #158
There are some changes that modify the config files, so I would recommend backing up the files in `$BuildServer/config/projects/*/pluginData/plugin-settings.xml*` (there is one per project)
and also
`$BuildServer/config/webhook-templates.xml` (which might or might not exist depending on whether there are any locally edited templates)

I'll do a test too, but it might take me a few days to get a ch

[2020-06-08 09:57] netwolfuk commented on #158
Hi @nrukavkov  I spent some time over the weekend and added support for rolling back from 1.2 to 1.1.  I will release a new 1.1 version shortly.

All the webhooks and templates remain for the formats which are only supported by 1.2, but when they execute, they log an error that there is no template found. However, when you dicide to upgrade to 1.2 again the future, they will all start working agai

[2020-06-09 18:47] nrukavkov commented on #158
Hello @netwolfuk. I've installed 1.2 alpha version. At first glance, everything works fine. Thank you. Later we will try to use 'added to queue' event in our software and let you know how it works.

[2020-06-09 19:15] netwolfuk commented on #158
Great. Thanks for the update @nrukavkov.
I'll close this ticket.

[2020-06-09 19:15] #158 closed

[2020-06-12 14:06] nrukavkov opened #159 "Added to queue event: null buildId"
Hello @netwolfuk  😋

## Current Behavior
Event 'added to queue'  generates webhook without buildid. We were expecting to be able to change a tag on a build. But it is not possible, because webhook's payload has a null value in buildId. Is it possible to have some trick and pass a build value?

## Your Environment
* tcWebHooks Version: tcWebHooksPlugin 1.2.0-alpha.6
* TeamCity Version: TeamCity Pro

[2020-06-12 17:23] netwolfuk commented on #159
I don't believe an ID has been assigned at this point. My understanding is that the ID is assigned at the started event.

[2020-06-12 17:40] nrukavkov commented on #159
🤔 If you use API to add a new build to queue, teamcity returns build ID and other additional information. And it doesn’t matter has it been started right now or just was added to a queue.

Here is my simple part of PowerShell code which I use to start builds and get their IDs:
[code]

[code]
$response.id has an ID of every build

[2020-06-12 18:58] netwolfuk commented on #159
There is an item id.
http://javadoc.jetbrains.net/teamcity/openapi/current/jetbrains/buildServer/QueuedBuild.html#getItemId--

Is that id the same as the id of the build when it's running/finished?

[2020-06-12 19:00] netwolfuk commented on #159
Is the buildTypeid something like bt11 ? If so that is the internal id of the build configuration, not the build instance

[2020-06-12 19:24] netwolfuk commented on #159
ok, I found what they are doing. They're getting the promotion and mapping it. I'll need to have a better look when I get to a computer.

https://github.com/JetBrains/teamcity-rest/blob/ad895583981a304d405d0b6ca98f4108782ab5c5/src/jetbrains/buildServer/server/rest/model/build/Build.java#L179-L187

Thanks for raising it. It seems like we can make this better!

[2020-06-13 10:56] netwolfuk commented on #159
I've committed a change that copies the promotionId into the buildId field in the Queued webhook events (queue and de-queue).
After it finishes build it will be available to [download from here](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue-159-null-buildId-for-queued-builds&buildTypeTab=overview&mode=builds).

[2020-06-13 19:46] nrukavkov commented on #159
I will take a look on it on Monday. Thank you.

[2020-06-13 19:51] netwolfuk commented on #159
Cool. If I get a chance I'll do some more testing too.

[2020-06-13 21:30] netwolfuk commented on #159
I have a webservice that receives a LegacyJson webhook request for every build event in my development environment. I can confirm that for every `buildAddedToQueue` event, there is now a `buildId` set. Previous to yesterday, it was null.

I didn't have any previous `buildRemovedFromQueue` events, but testing that now they are also showing a buildId. From the 17 builds that ran in the last 24 hours

[2020-06-13 21:35] netwolfuk commented on #159
I'd appreciate it if you could keep an eye on the buildId, and let me know if they ever don't match for the other events in the build. However from my little bit of testing, and that comment in the youtrack ticket, I think it should be fine.

[2020-06-14 18:00] nrukavkov commented on #159
No problem! I guess everything will be fine. I've tested your fix on a newly installed teamcity and it works.

Just one case I want to show you. The payload looks like this when there is no agents to start. But I suppose that is fine. You can't definitely know buildId.
[code]

None the less I'll get you to know If something goes wrong.

[2020-06-22 07:58] netwolfuk commented on #44
Sorry, bumping this to 1.3

[2020-06-22 19:15] netwolfuk commented on #146
This might be solved by #82, which is in progress. I'll do some testing when that's done, and maybe this can be resolved in 1.2

[2020-06-24 08:30] netwolfuk commented on #159
Thanks for the update. I didn't really think about it, but I guess it makes sense that the id is allocated when it starts. Otherwise there would be buildIds that are never used when multiple queued events are grouped into a single build.

I'll merge this branch into master and release a new alpha in the next few weeks.

[2020-06-29 21:32] Keilaron commented on #53
I believe the recommended practice is to use the "Generate token for a secure value" feature. If the plugin could be modified to accept such a token as a URL, I think that would be the easiest way to implement secure storage of the sensitive webhook URLs.

[2020-06-29 21:56] netwolfuk commented on #53
Hi @Keilaron
That option does not seem to be enabled on for my project. Probably because I am not using versioned settings.
I'll have a play and see if I can get something working. There is an issue #146 which uses the "password" type build parameters, and they are not available un-encrypted at the build finished event. I suspect this might be the same, but will see what I can find.

[2020-06-29 22:07] Keilaron commented on #53
Hmm, #146 mentions something I wasn't aware of -- I kind of assumed that Parameters were not usable since it isn't mentioned in the UI that we can use them.
Just to be clear though, I had been talking about this: https://www.jetbrains.com/help/teamcity/storing-project-settings-in-version-control.html#StoringProjectSettingsinVersionControl-ManagingTokens
I thought it was always visible (but you hav

[2020-06-29 22:16] netwolfuk commented on #53
Yep, it looks like we're looking at the same thing. Mine is disabled...

![image](https://user-images.githubusercontent.com/88687/86061192-6afefa80-baba-11ea-98df-3863d1325738.png)

I'll have a look though. Thanks for raising it.

[2020-06-30 00:54] netwolfuk commented on #53
D'oh. I'm a muppet! Yes I found the option in the actions menu. That looks super helpful. I will see how I can get at that from within plugin code.

[2020-07-03 21:30] netwolfuk commented on #53
FYI. Making great progress on using settings from both #146 and the secure token. I have #146 working by resolving via SFeatureDescriptor items, and have extended the webhooks rest API to be able to create and edit them. So I just have the UI to write for that.

For the secure tokens I have the code written and it works in unit tests, but I need to figure out how to get Spring to load a different

[2020-07-06 21:24] netwolfuk commented on #53
Raised an issue with Jetbrains about how to use Spring's factory beans.

https://youtrack.jetbrains.com/issue/TW-66712

[2020-07-07 20:28] netwolfuk commented on #53
I have worked around the issue with spring by injecting the factory and having the factory return the relevant object.

That piece of the code only contains objects that are instantiated for the duration of a webhook execution, so I don't need to rely on spring management of the instances.

I need to do some more testing, but the secrets are resolving using the Preview and Test tab of the webhook

[2020-07-20 14:31] AnkitGupta142 opened #160 "Getting Error :"the server responded with a status of 403 ()" when adding new webhook template"
## Expected Behavior

I should be able to add a new template in the webhook template on click of AddNewTemplate button.

## Current Behavior
Whenever I am adding any new template from AddNewTemplate button , I am getting a popup mentioning "object object". On inspecting it I can see in the console that I am getting "Failed to load resource: the server responded with a status of 403 ()" error.

##

[2020-07-20 16:02] netwolfuk commented on #160
Hi @AnkitGupta142  Are you an administrator in TeamCity?

At the moment, you need to be admin to create or edit templates.

The alpha 4 release of 1.2.0 added support for project templates.

[2020-07-23 14:44] ryanclanigan commented on #160
I'm seeing this as well on both the latest 1.1 release and the latest 1.2 release.

Any attempt to add a new template fails with the following error:
[code]

[2020-07-23 17:13] netwolfuk commented on #160
Thanks @ryanclanigan. Have you previously created templates successfully?
I presume you're a TeamCity administrator for 1.1, or have edit project permission for 1.2. Is that correct?

Also, which TeamCity version are you running?

[2020-07-23 17:51] ryanclanigan commented on #160
Yes, I am a project administrator. I've not created templates before, as I literally just installed the plugin.

 TeamCity Enterprise 2020.1 (build 78475)

[2020-07-23 19:00] netwolfuk commented on #160
@ryanclanigan  Do you have the tcWebHook REST API installed? You're getting 404, which means the endpoint is not there. Where as Ankit was getting 403, which means permission denied.

[2020-07-23 19:55] netwolfuk commented on #160
Assuming that's the cause, I could probably make the error more helpful.

[2020-07-23 20:19] ryanclanigan commented on #160
I definitely have it installed.
![image](https://user-images.githubusercontent.com/31903355/88334754-1af50b80-cce7-11ea-86fc-9ad9a6e94b08.png)

[2020-07-23 20:27] netwolfuk commented on #160
Thanks for checking @ryanclanigan . Was `YYYY` the ID of your new template?

Can you try loading the main templates page and see if it was created?

[2020-07-23 20:45] ryanclanigan commented on #160
Yes it was the name, and no it was not created.

However, for some reason, I was able to make a new template by doing the exact same thing I _thought_ I did earlier, by clicking on the new template button in the templates section.

Could a TC server restart maybe have fixed something?

[2020-07-23 21:16] netwolfuk commented on #160
Great!

Hmm. Weird. I was half hoping that we could reproduce it with some debugging of the REST requests by looking at the Network tab in the browser.

TL;DR Quite likely.

Back in the day, some jars in my REST plugin conflicted with some jars in TeamCity's REST plugin (mine actually extends theirs as I don't want to have to re-invent all their stuff).
This meant some code had to run to clean up

[2020-07-24 08:02] netwolfuk commented on #146
FYI. This will be better served by #53

I have scrambled password support working in my local branch. It will be in the next alpha. Also, I have #82 working in my local branch via the REST API, which will also be in the next alpha. I only need to get some UI working, and the alpha7 will be released.

[2020-07-30 10:09] tanyabrytkova opened #161 "WebHook Logging screen not working"
Hi!
I have a user defined webhook JSON template which has no default build event template, but build successful and build failed events configured.

WebHook with this custom template is enabled for a build configuration for build successful and build failed events,
and it works correctly (sends the needed requests on the needed events).

But I see no logs or proofs of this in WebHook Logging scree

[2020-07-30 10:18] netwolfuk commented on #161
Hi @tanyabrytkova

Thanks for the detailed bug report. I must admit I've not seen this behaviour. I have about 50 webhooks configured, so it's possible some are not being logged correctly, and I haven't noticed.

I'll try with a new TeamCity instance and single webhook on a user defined template to see if I can reproduce this behaviour.

[2020-07-30 11:23] netwolfuk commented on #161
By the way. That history is only stored in memory. It will be list when TeamCity has restarted.

[2020-07-30 12:06] tanyabrytkova commented on #161
@netwolfuk, thanks a lot for your quick response.

Yep, I get it, but we didn't restart Teamcity

[2020-07-31 08:15] netwolfuk commented on #161
Hi @tanyabrytkova

I have not been able to reproduce this yet. My logging shows no errors, but the numbers have incremented.

![image](https://user-images.githubusercontent.com/88687/89013578-3bb50500-d368-11ea-80e3-bf29ae75f547.png)

And I can see the events on the WebHooks tab of the project.

![image](https://user-images.githubusercontent.com/88687/89013757-90588000-d368-11ea-86d3-7ab7202ec12a.

[2020-07-31 16:12] tanyabrytkova commented on #161
Hi @netwolfuk,

Thanks for the detailed instructions.

Please find attached my custom WebHookTemplate and WebHookConfigs.
[webhook_config_and_template.zip](https://github.com/tcplugins/tcWebHooks/files/5007921/webhook_config_and_template.zip)

Unfortunately, the webhook based on the custom template (Alertino) sends requests to our local service, which is not available to you, but I also tried usin

[2020-08-02 17:40] #160 closed

[2020-08-02 18:59] netwolfuk commented on #160
Thanks @AnkitGupta142   The error handling had improved in 1.2, but I'll check this case.

[2020-08-03 01:38] netwolfuk commented on #161
Hi @tanyabrytkova

Your TeamCity instance seems quite large. I can see 5 digit build type Ids in the config file. Is there a chance their really was 10005 events between when TC restarted, and then you see this page? The history only stores 10,000 entries. Perhaps it has already done 2,500 builds (with 4 events per build)?

Looking at your files I have a few things to try:

1. Check thread safety

[2020-08-03 08:50] tanyabrytkova commented on #161
Hi @netwolfuk,

Thanks a lot.
The reason is really this huge number of webhook events that we store (our Teamcity entity is pretty large).

Today I see a bit less events in the counter and some of the events are finally displayed in the table.
![1596443341380](https://user-images.githubusercontent.com/42354987/89162950-8491d700-d57d-11ea-9214-2f9b88c963a1.jpg)

I will try to find all the usages an

[2020-08-03 09:27] netwolfuk commented on #161
Thanks for the update @tanyabrytkova

That's exciting! It would be fun to work on such a large installation!

This is great! So it's certainly a bug in my code. The list is supposed to contain the most recent 10,000 events, and old ones should be automatically dropped off the end to that the store does not get too big, as that would use up memory in TeamCity. So in your case, the total should read

[2020-08-03 10:03] netwolfuk commented on #161
Yes. I have found bug here with a simple unit test. Not synchronsing the `add` method is returning random numbers of items. Eg, in your case you're seeing 10004, rather than 10000.

[2020-08-03 10:20] netwolfuk commented on #161
Hi @tanyabrytkova

Would you see value in maintaining a larger counter but a smaller log?

At the moment, the counters are determined by finding and counting the number of items of each type in the store. It would be more efficient to have four integers and increment these separately. I don't imagine anyone is really going to look through all 10k entries! :-)  Or 500k if the value was larger.

[2020-08-04 04:08] netwolfuk commented on #161
I have been able to reproduce this bug, with the 10005 OK items and 10005 total items. The behaviour of `LinkedHashMap` became unpredictable when multiple threads were trying to write whilst the Map was trying to remove expired entries.

I have a fix which has the following:

- Separate Event counters for Total, OK, Skipped and Errored events. These counters will increment until 2.147 billion reco

[2020-08-04 08:47] netwolfuk commented on #161
Yes. It's looking good. I'll do a release shortly.

![image](https://user-images.githubusercontent.com/88687/89273433-a2e9f680-d693-11ea-8507-37ce1e1befc2.png)

[2020-08-04 09:08] netwolfuk commented on #161
Version [1.1.374.403](https://github.com/tcplugins/tcWebHooks/releases/tag/v1.1.374.403) released.

[2020-08-04 09:08] #161 closed

[2020-08-08 20:05] netwolfuk commented on #102
I need to revisit this in 1.2, as most of these issues should be mitigated with conditionals in velocity templates.

[2020-08-11 08:40] tanyabrytkova commented on #161
Hi @netwolfuk ,
Sorry for the delayed answer and thanks a lot for the fix 👍

Now all works as expected, and thanks to logs, I finally found the solution to my problems!

[2020-08-11 11:59] tanyabrytkova opened #163 "Conditional WebHook Execution for Each Build Configuration"
Hi @netwolfuk,

Recently, [new conditional build steps](https://blog.jetbrains.com/teamcity/2020/05/teamcity-2020-1-conditional-build-steps-support-for-kubernetes-slack-notifier-integration-with-azure-devops-and-jira-software-cloud-and-more/#version-2020-1-conditional-build-steps-for-unconditional-versatility) were introduced in Teamcity.

Do you have plans to add the same functionality to the Web

[2020-08-11 12:08] netwolfuk commented on #163
Hi @tanyabrytkova

Can you please give me some more information on your use case?

If you're asking if editing filters will be added to the UI, then yes that's on the roadmap for 1.2

If you're asking something else can you please elaborate on your request?

Thanks!

[2020-08-11 13:57] tanyabrytkova commented on #163
Yes, thank you!

[2020-08-11 18:48] netwolfuk commented on #163
Thanks for the clarification.

I'm currently working on #82. Once that is complete I'll pick up something else. You can see the status of the backlog for the 1.2 release [here] (https://github.com/tcplugins/tcWebHooks/issues?q=is%3Aissue+milestone%3Av1.2+-label%3A%22waiting+for+release%22+is%3Aopen).

[2020-08-11 18:59] netwolfuk commented on #163
FYI. UI mockups are in #83

[2020-08-12 13:57] #163 closed

[2020-08-15 21:22] netwolfuk commented on #163
Looking at the UI for conditional build steps that's now in TeamCity, I suspect my UI won't be as fancy. I like their drop-down options and stuff, but for the first iteration of filter editing, or will be just an input field.

Maybe I'll look to make it smarter in future releases. It just all takes time.

[2020-08-26 09:28] huehnerlady commented on #117
With our system it is up to 3.
Is there any update on this issue?

We are facing the same problems, we want to add a webhook at the root level. Currently we cannot test this as the subprojects are not found at all.
Is there any way to get a workaround for the problem apart from adding the webhook in over 50 Projects?

![image](https://user-images.githubusercontent.com/12533979/91286740-1c569f80-e7

[2020-08-27 05:12] netwolfuk commented on #117
Hi @huehnerlady   It looks like you're trying to setup a webhook in a project that has no builds configured. Or are you adding a webhook at the root level?
For me, the root level finds all recent builds. Can you please open the developer console in your browser, and then open the webhook dialog? It should make a rest request  to `builds?` and load the list of recent builds in all sub-projects.

![

[2020-08-27 05:26] netwolfuk commented on #117
Just try clarify. @huehnerlady
Do you want to have the webhook configured for all sub projects, or do you want to be able to select specific projects, or even specific builds within projects?

[2020-08-27 05:44] netwolfuk commented on #117
Assuming we can get this list of builds working for you, we should be able to configure a filter to prevent the webhook from triggering on certain scenarios.

I'll do some testing and provide an example configuration.

[2020-08-27 05:47] netwolfuk commented on #117
https://github.com/tcplugins/tcWebHooks/wiki/Applying-Filtering-Criteria-To-WebHook-Execution

Currently they need to be edited in the config file, but they are on the road map for the 1.2 release.

[2020-08-27 10:20] netwolfuk commented on #117
I have been able to use filters to conditionally trigger a webhook for a specific build and/or project.
This is what I did:

1. Edit TeamCity parameters in the `_Root` project.
    For me, the URL was `/admin/editProject.html?projectId=_Root&tab=projectParams`
1. Create a Parameter with the default setting. I created a Parameter called `webhook.my_webhook_enabled`, and set the default value to `fa

[2020-08-27 10:28] netwolfuk commented on #117
Note: It appears that using the test function ignores the filter match, and sends the webhook anyway. This is a bug, although you can't actually see that, due to the builds list not being populated correctly.

@huehnerlady  Do you have your teamcity located at a different context in Tomcat? eg, something like `http://your_server/teamcity/` Perhaps that is why the build list is not loading correctl

[2020-08-27 10:44] hagaygo commented on #97
Just upgraded to latest version (1.1.374.403) and now i do get notifications for "Remote run" , any way to to disable notifications on "remote run" or "pesronal" builds ?

[2020-08-27 10:50] netwolfuk commented on #97
Oooh. I can't remember if I did that or not. I'll need to take a look and see. Hopefully over the weekend. It's been so long since I looked at this, I have forgotten all the context.

[2020-08-27 11:03] netwolfuk commented on #97
Hmm. Looks like I didn't do anything to address the concern @hagaygo

I can't promise I'll get a fix in this weekend, and my next few weekends are hectic. Your best work around for now is the filter above. Does work for you, or am I misinterpreting your request?

[2020-08-27 11:07] hagaygo commented on #97
Where do i need to put that filter snippet ?
can you direct me to the correct place ?

[2020-08-27 11:09] netwolfuk commented on #97
The docs are here, https://github.com/tcplugins/tcWebHooks/wiki/Applying-Filtering-Criteria-To-WebHook-Execution

[2020-08-27 11:11] netwolfuk commented on #97
Also a detailed step by step to solve a different problem with filters is in #117

[2020-08-27 11:24] hagaygo commented on #97
Thanks for the quick help, after adding it to the xml file , remote run did not notify on the webhook.

Hoping to see this in the GUI soon.

[2020-08-27 23:24] netwolfuk commented on #97
Yeah. Is quite a bit of work unfortunately. I need to add to the config file and all the logic around reading and writing to that. I need to add it to the UI and all the logic around editing and saving and testing webhooks.
Also need to add to the executor logic, so that the setting is considered during webhook execution.

That's probably why it sat for a while.

[2020-08-27 23:25] netwolfuk commented on #97
Editing of filters is in the roadmap for 1.2 though, so on reality that might happen first.

[2020-08-27 23:28] netwolfuk commented on #97
Also, FYI. Editing the webhook does preserve filters correctly even though you can't see them in the UI. So if you edit the webhook in the UI and be confident that your manual XML edits will still be there.

[2020-09-01 08:55] ghost opened #164 "Project versioned settings log constant comment "no comments""
## Expected Behavior
Git log of TeamCity project configuration versioned settings has clarifications of what was changed.

## Current Behavior
Any changes of configuration of TeamCity webhooks are logged as "no comments" (compare to messages below on changes of other TeamCity areas):
![Screen Shot 2020-09-01 at 11 45 10](https://user-images.githubusercontent.com/41187778/91828887-6507d000-ec49-11e

[2020-09-01 19:52] netwolfuk commented on #164
Hi @schernov-xo. I'll have a look too see if there is a way I can pass a comment when I persist the hook. That code predates any of the settings stuff. I'm using the method of storing settings which is compatible with TC9 and below.

I'll take a later in the week when I'm back from vacation. No internet here and not computer! 😁

[2020-09-04 07:20] ailjushkin opened #166 "Default branch trigger setting in UI"
## Expected Behavior
User set up new project, for instsance, for building base (default) branch and pull-requests automatically.
Pull-request build status is being sent to the BitBucket pull-request and those who had created it, will see if it fails or not.
default branch status is being sent to the devops chat using this plugin webhook, because base branch should be always green.
Devops does not

[2020-09-04 07:27] netwolfuk commented on #166
Hi @ailjushkin

That page allows editing of the template content, but that requires the rest API. If you don't want to change any of the template content, then you don't need it.

To filter for specific criteria, you can use a filter. See #117 for more info.

[2020-09-04 11:59] ailjushkin commented on #166
@netwolfuk
Thanks, man, so If I understand it correctly, I have to ask my teamcity admin to add another filter called somewhat vcs_branch_filter which value is regex and default is .* but users in different projects would then overwrite this property through the TeamCity UI?

[2020-09-04 18:59] netwolfuk commented on #166
Hi @ailjushkin

Your case is actually easier. There is already a webhooks parameter called `${branchIsDefault}` so you don't need to create that variable at the top project.

You just need to get the filter added to your webhook checking that that value is `true`.

I agree it is nicer to have a UI for filters. It's on the road map for 1.2.

[2020-09-04 19:34] netwolfuk commented on #164
Hi @schernov-xo   I had a look a the code, and I can't see how the comment could be set using the `plugin-settings.xml` storage method. I have asked a question here: https://youtrack.jetbrains.com/issue/TW-67532, however I don't know if it's going to be possible.

[2020-09-06 06:35] ailjushkin commented on #166
Can i do this on a per project basis or this filter is defined globally in teamcity?

[2020-09-06 07:08] netwolfuk commented on #166
It's per webhook configuration. So whenever that webhook would have triggered, it also applies the filter as an extra criteria.

[2020-09-06 07:12] netwolfuk commented on #166
If you wanted to add extra criteria, you can also add another filter. The filters will be ANDed. By that I mean both filters have to evaluate to true for the webhook to trigger.

[2020-09-06 16:45] ailjushkin commented on #166
@netwolfuk sorry man, now I got it, thank you

[2020-09-06 18:57] netwolfuk commented on #166
You're welcome. Sorry it's a pain at the moment. I'm going to put out 1.2 alpha 7 this week, and then the UI for filters is the next ticket I'm working on. It'll be in 1.2 alpha 8, but I don't have an ETA for that yet.

[2020-09-07 08:33] ailjushkin commented on #166
@netwolfuk thanks, so we have tried to write this config

[code]

but trigger filter still doesn't work, it sends a message when failed non-default branch. Could you please explain, what is wrong with it?

[2020-09-07 09:06] netwolfuk commented on #166
That looks like it should be fine. I'll take a look when I get to the computer and test it.

Maybe best to edit your comment and remove your URL.

[2020-09-07 09:57] ailjushkin commented on #166
@netwolfuk I updated the issue with some details and removed url

[2020-09-07 11:25] netwolfuk commented on #166
HI @ailjushkin

I have coped and pasted your config into my build and it worked correctly for me.
I can see in `/webhooks/history.html?view=skipped` that the hook is skipped due to the filter.

![image](https://user-images.githubusercontent.com/88687/92381708-737d4c80-f15f-11ea-9606-97bba1f41cc6.png)

To be sure can you please check the history page and see what it shows?
Are you sure there is not

[2020-09-07 19:49] netwolfuk commented on #164
Anton from Jetbrains has replied and shown me how to do this. I'm embarrassed to say I was looking at the wrong code, but he found it.

I'll refactor that code this week and get it out as part of 1.2.0 alpha7. I see you're using 1.1, so I'll back port it and do a 1.1 release as well. Hopefully this week or over the weekend.

Thanks for raising this issue. I'm happy to make tcWebHooks better!

[2020-09-08 13:25] schernov-xo commented on #164
Perfect, thanks!

[2020-09-09 07:50] ailjushkin commented on #166
Unfortunately, I see the same result for both branches.

![image](https://user-images.githubusercontent.com/3462506/92568756-4f695a80-f288-11ea-9032-94959f6766fc.png)

This is our project structure:

[code]

Meanwhile the property file is located at:
`/teamcity_data/.BuildServer/config/projects/Build_Project/pluginData/plugin-settings.xml`

Additionally, I have checked branchIsDefault using legacy

[2020-09-09 08:41] netwolfuk commented on #166
Thanks so much for this info. I'll spin up a new TeamCity docker, and install the exact versions you have of everything with the same project layout.

[2020-09-09 08:52] netwolfuk commented on #166
The states represent the build events that TeamCity allows me to bind to. WebHookListener registers and listens for these events issued by the teamcity server.
The ones tcWebHooks listens for are:

- responsibilityChanged - This is not really a build state. This is when someone takes responsibility for an already completed build in the UI

These are build lifecycle events
- buildStarted
- changesL

[2020-09-09 10:34] netwolfuk commented on #166
I now have the exact same setup as you, and I am getting the correct result. WebHooks are triggering on the default branch, but not on the feature branches.

- TeamCity Professional 2020.1.3 (build 78866)
- tcWebHooks 1.1.362.398 (Branch: 1.1.x.x Revision: 0a1f1fd)

Can I check how you are configuring your branches? I have my branch specification set as the following:

![image](https://user-images

[2020-09-09 10:46] netwolfuk commented on #166
Also just tested on
- 1.1.374.403  (Branch: 1.1.x.x, Revision: 99409d2)

Everything looks good for me

![image](https://user-images.githubusercontent.com/88687/92589164-4612d900-f2ee-11ea-9622-ed47804c721f.png)

[2020-09-09 10:48] netwolfuk commented on #166
oh, just checking. Do you have any parameters defined?

[2020-09-09 11:02] netwolfuk commented on #166
Hmm. I just tested with `webhook.branchIsDefault` parameter set to `true`. It did not interfere with the value set. Sorry, that is not the cause.

[2020-09-09 12:43] ailjushkin commented on #166
Thanks for the detailed explanation of build states, they are definitely look more like events in Russian.

And we have this settings for VCS:
![image](https://user-images.githubusercontent.com/3462506/92599084-68870100-f2b2-11ea-8183-0306ef1d4046.png)
And the `%system.subsytem.git.branch%` parameter is calculated as `develop/%system.teamcity.projectName%` where `%system.teamcity.projectName%` is

[2020-09-10 08:45] netwolfuk commented on #166
Hi @ailjushkin I tried with the settings you have shown me.

![image](https://user-images.githubusercontent.com/88687/92702759-ac0e6780-f3a5-11ea-9a5e-960a0bdcdcb4.png)

And I pushed to `develop/1.2` (and renamed my project to `1.2`. It finds and sets my default branch correctly.
![image](https://user-images.githubusercontent.com/88687/92703298-2f2fbd80-f3a6-11ea-9d4d-1417dd63c3fd.png)

But refuse

[2020-09-10 08:46] netwolfuk commented on #166
Can you also please confirm the tcWebHooks version?

[2020-09-10 09:35] ailjushkin commented on #166
@netwolfuk we have searched through the log for strange things and my colleague found that those project settings are cached on a server and they are not updating until the server is rebooted. It's difficult operation so we decided to try to store project settings under version control to check whether it solves the problem or not

[2020-09-10 09:38] netwolfuk commented on #166
Thanks @ailjushkin   If I understand correctly, the edits you made to the `plugin-settings.xml` are not being reloaded when the file is edited to add the filter?

[2020-09-10 09:42] ailjushkin commented on #166
@netwolfuk yep, exactly)

[2020-09-10 09:49] netwolfuk commented on #166
ok, that's interesting. This is what I see in the logs when I manually edit that file...

[code]

[2020-09-10 12:50] ailjushkin commented on #166
@netwolfuk If I correctly understood our admin, this is because of our "huge" teamcity server. When it comes to an enterprise, things become strange

[2020-09-10 13:04] nrukavkov commented on #159
@netwolfuk do you have plans to release v1.2?

[2020-09-10 17:44] netwolfuk commented on #159
Hi @nrukavkov. Yes. A new alpha will be released this weekend.

Alpha 7 adds project parameter editing in the UI. Alpha 8 is filter editing in the UI.

I suspect the final release is still a few months away. But the alphas are very stable.

[2020-09-10 17:52] netwolfuk commented on #159
https://github.com/tcplugins/tcWebHooks/projects/2

[2020-09-11 20:53] netwolfuk commented on #164
Hi @schernov-xo

I have the comments now working. I've not setup a synchronised project yet, but I can see comments appearing in the project audit log. Do you think the comments are right? Should I have more description?

![image](https://user-images.githubusercontent.com/88687/92971797-39040e80-f4d5-11ea-850f-9034dd43f063.png)

This is on 1.2.0 alpha7 which will be released this weekend. I'll che

[2020-09-11 21:09] netwolfuk commented on #164
Looking at the 1.1 code, the infrastructure to shift the logic to does not exist. I'll hack it in, considering 1.1 will be old in a few months when 1.2 is finished.

[2020-09-12 09:42] schernov-xo commented on #164
Thanks. Will check it this weekend

[2020-09-12 19:46] netwolfuk commented on #10
Hi @danielwellman

Assuming you're still interested in this, I have been thinking about a few scenarios:
The following would need to be assessed for every webhook configured in the current project or any parent.

- Build is moved to a sub-project
   Webhook is configured for all builds and sub-projects
   _No change required_

- Build is moved to another project
   WebHook is configured for all bu

[2020-09-13 18:53] schernov-xo commented on #164
The issue is still here. I've built the plugin from the latest master (`eb7bafd1`).
![Screen Shot 2020-09-13 at 21 46 38](https://user-images.githubusercontent.com/41187778/93025948-e9bffa00-f60a-11ea-9015-b8643efc1fb4.png)
Setting changed: add trigger event
![Screen Shot 2020-09-13 at 21 50 09](https://user-images.githubusercontent.com/41187778/93025983-30adef80-f60b-11ea-8eb4-f4e18417b616.png)
T

[2020-09-13 18:56] netwolfuk commented on #164
Eeek. I haven't pushed. Sorry. Had a sick kid all weekend.

[2020-09-13 19:09] netwolfuk commented on #164
Now pushed to this branch: https://github.com/tcplugins/tcWebHooks/compare/issue_164-add_commit_comment_on_edit

[2020-09-13 19:12] netwolfuk commented on #164
I have some further tidy up to do in the controller, but this works, and you can test that the messages you get are useful.

Btw. Master is the 1.2.0 branch, so you're now running 1.2.0 alpha 7.

[2020-09-13 19:28] schernov-xo commented on #164
Now comments are fine. Only one thing - the new version of the plugin does not support legacy configuration format (migration), the webhooks should be recreated:
![Screen Shot 2020-09-13 at 22 16 53](https://user-images.githubusercontent.com/41187778/93026647-48d43d80-f610-11ea-8472-ee0ec93900be.png)
Not a big deal for me, but in some cases it may be a problem.

P.S. thanks!!

[2020-09-13 19:36] netwolfuk commented on #164
Oh! They definitely should be being migrated. I wonder why that happened. Could you share an old copy of your `plugin-settings.xml` file (with the URL or anything else sensitive removed)?

[2020-09-13 19:42] schernov-xo commented on #164
Sure. Note: it's not a Root project, it's a project with parent=root
[code]

[2020-09-13 19:44] netwolfuk commented on #164
Since you're saving all your changes into git, do you have a version of the plugin settings with the webhooks removed after the upgrade?

I'm trying to figure out if they were migrated and then removed, or migrated and then disappeared on edit. Or maybe some other event occurred and code did not handle the event correctly.

You should be able to tell when the file was migrated. It will have added

[2020-09-13 19:47] netwolfuk commented on #164
Thanks for the XML file. It's a legacy JSON webhook. I'm sure all that code is unit tested. I wonder if it's a combination of the migration and the settings in git. Time for be to setup that git stuff. Sorry about all this.

[2020-09-13 19:50] schernov-xo commented on #164
Welcome. Glad to help.

[2020-09-13 21:03] netwolfuk commented on #164
Interesting: Your screenshot of the XML changes show that the webhook was migrated. I can see events for queued, etc.
It looks like you were able edit the webhook then. Was it only after the tcWebhooks version from the issue-164 branch was used that the webhook disappeared?

[2020-09-13 21:07] netwolfuk opened #167 "Existing plugin-settings are not loaded when plugin is installed"
## Expected Behavior
Existing webhooks should be converted to work in 1.2.0
Possibly related to using VCS storage of settings.

## Current Behavior
Webhook settings are blank after upgrade

## Steps to Reproduce (for bugs)
1. Install 1.1.362.398
1. Create one webhhok in subproject. Set to single build and no subprojects.
1. Enable VCS storage of project settings.
1. Upgrade to 1.2.0
1. Webhooks bl

[2020-09-13 21:07] netwolfuk commented on #164
Created bug #167

[2020-09-14 08:23] schernov-xo commented on #164
The problem here to clarify what happened is there was an intermediate version (latest master).
But when latest master was installed, the old hook was on it's place.
Then I installed from the bugfix branch and webhook disappeared.

[2020-09-14 08:24] schernov-xo commented on #167
If you cannot reproduce it, I can reinstall old version, reset hooks and try to migrate one more time.

[2020-09-14 08:44] netwolfuk commented on #164
Thanks for the clarification. I'm also running the latest branch for this issue, and previously was running a build off the branch that is now master. Except I have been running 1.2 for about 6 months, so it could be an issue with the upgrade.

My hunch is that it's related to the settings in git. I'll need to set that up and test it, but that could be a day or two away.

[2020-09-14 08:46] netwolfuk commented on #167
If you get a chance to try the upgrade again, I would really appreciate it. You're lucky that you have the full history, so can roll back to a working version of 1.1 config and then took forward again to test it.

As I mentioned on the other ticket. I might not get a chance to get back to this until 1 or 2 days from now.

[2020-09-14 09:45] schernov-xo commented on #167
I can reproduce it. It seems that it's an issue about a mix of git stored settings and either database store or ignored files. Let me explain in step-by-step:
TeamCity 2020.1.4 (docker)
Scenario:
* Install 1.2.0 and set up webhooks for projects A and B (not Root). Format: Legacy JSON, no special settings like template or auth.
* Check that everything is fine
* Disable plugin, restart IDEA, delete

[2020-09-14 10:33] netwolfuk commented on #167
Thank you, thank you, thank you! These steps are amazing!

A couple of clarifications:
1. I presume step 3 is "restart Teamcity", not "restart IDEA".
2. 1.1.374 should allow downgrading of 1.2.0 to 1.1. But that is not what we're trying to test here.

The gold is in the discovery that the file exists with no change, but is not loaded.
I'm guessing it's some race condition somewhere in the code tha

[2020-09-14 10:43] schernov-xo commented on #167
1. sure, TeamCity, not IDEA

Just to be clear: I never make changes to git directly, I only change TeamCity settings via UI, it flushes it to git storage. Git is just a reserve for fast restore in case of service destruction and a convenient log to watch the changes.

No problem, let me know if you need more information or checking hypothesis.

[2020-09-14 10:52] netwolfuk commented on #167
Ah yes. Thanks for the clarification.
My suspicion is that any recent 1.2 will have this issue. I don't think it's related to the comments.

1.2 has a cache of webhooks. This is probably where to bug has crept in.

The cache is what powers `/webhooks/search.html?show=all` and the other search functions.

[2020-09-18 08:12] netwolfuk commented on #167
Hi @schernov-xo   I am able to reproduce the behaviour, simply by installing the plugin without a restart.
Once restarted, all the previous webhooks are found.

So, it's something that happens at startup in the plugin, but not when the plugin is enabled whilst the server is already running.
It probably happens in 1.1 too. This appears to be consistent with what you found above.

[2020-09-18 11:03] seregamorph opened #168 "Invalid message for failed composite builds"
I have a composite build of three dependencies:
![Screen Shot 2020-09-18 at 13 52 44](https://user-images.githubusercontent.com/2844909/93590287-e932b500-f9b6-11ea-909f-77e09d57f9a0.png)

When I execute it and two of three dep fails, the teamcity UI reports looks correct (success 1, failed 2):
![Screen Shot 2020-09-18 at 13 52 09](https://user-images.githubusercontent.com/2844909/93590351-07001a00

[2020-09-18 11:37] netwolfuk commented on #168
Hi @seregamorph

My code is just calling `sBuild.getStatusDescriptor().getText()`. The actual text comes from TeamCity. This looks like it could be a big in TeamCity.

[2020-09-18 11:44] netwolfuk commented on #168
Question asked of TeamCity support: https://youtrack.jetbrains.com/issue/TW-67780

[2020-09-18 11:48] seregamorph commented on #168
In this case it looks like a bug on the TeamCity side.

[2020-09-18 18:47] netwolfuk commented on #167
The workaround is to install the new plugin version and then restart TeamCity. In that case, the settings load correctly.

I have raised a bug in the TeamCity bug tracker, but using plugin-settings.xml is the old way of storing settings, so they might not fix it quickly.

[2020-09-18 18:51] netwolfuk commented on #167
https://youtrack.jetbrains.com/issue/TW-67777

I'm going to close this ticket here on GitHub. I don't think there is anything I can do to resolve this.

[2020-09-18 18:54] #167 closed

[2020-09-18 19:00] netwolfuk commented on #164
Because there is nothing I can do at this time to solve #167, I'll merge this branch in and get alpha 7 released this weekend.

[2020-09-18 19:03] netwolfuk commented on #159
Sorry for the delay. We found bug #167 just before I wanted to release, and I thought it was going to affect all users.

Alpha 7 will be released this weekend.

[2020-11-24 16:27] seregamorph commented on #168
Just for your information. On latest TeamCity 2020.2 I still have this issue:
TeamCity UI message: `Tests passed: 1400; Build chain finished (success: 2, failed: 1)`
Notification text: `Tests passed: 1400; Build chain finished (success: 2, failed: 2)`
Will dup this message to YouTrack

[2021-01-07 23:19] bnaji opened #173 "Webhook on tagged build"
Feature Request
Send out webhook when build tagged or untagged.

Similar to pin/unpinned issue #129 there is a [buildPromotionTagsChanged](https://javadoc.jetbrains.net/teamcity/openapi/current/jetbrains/buildServer/serverSide/BuildServerAdapter.html#buildPromotionTagsChanged(jetbrains.buildServer.serverSide.BuildPromotion,jetbrains.buildServer.users.User,java.util.Collection,java.util.Collection)

[2021-01-08 18:57] netwolfuk commented on #173
Hi bnaji.

I see you have a PR open here: https://github.com/lesserevil/tcWebHooks/pull/2/commits

Does it work ok? Is it worth trying to merge that in, it would you rather I worked on it.

What is that fork `lesserevil`? It looks like it has a few useful fixes in it.

From when I looked at tagged builds as part of #129, I saw that tags and pinning are asynchronous. Sometimes creating a pin with a

[2021-01-14 17:12] bnaji commented on #173
Ah the fork has a few features/fixes we use internally and webhook on tagged build was another feature that would be useful. I'm more than happy to push these changes upstream.

It works and I put a few test cases in, but I'm running into some errors when I get into the template editing pages. Something I'm missing.

Not in a good way. Currently I'm just ignoring events that don't have `newTags`,

[2021-01-18 18:32] netwolfuk commented on #173
Hi @bnaji I'm back from vacation now. Sorry for the delay.

Yes, if you'd like to raise a PR, that would be great. We can with through it together to get the delay logic going.

[2021-01-21 18:10] bnaji commented on #173
Opened a PR. https://github.com/tcplugins/tcWebHooks/pull/174

[2021-01-26 11:32] ghost opened #177 "Experimental UI buildStatusUrl"
For Legacy JSON webhook there is `buildStatusUrl` field, that looks like
[code]
Enhancement proposal: support also new experimental UI URL in a separate parameter. It is formatted with same parameters, but differs a bit:
`http://host:port/buildConfiguration/RestApiFramework_VerifyStage_2/5886?`

[2021-01-27 15:28] netwolfuk commented on #177
Hi @schernov-xo  This is a great suggestion. Thanks!

The new UI is called Sakura, so a good name might be `buildStatusSakurUrl`.

In the mean time, it's possible to add it into the  `extraParameters` map in the payload, by creating a TeamCity parameter like the following.

![image](https://user-images.githubusercontent.com/88687/106012897-c6f93280-6120-11eb-8a22-25ce2efb5733.png)

For legacy webh

[2021-01-27 16:53] schernov-xo commented on #177
Thanks for this clarification. Right now I do it a bit another way - I format the link on the backend side of my webhook. Just wanted to propose enhancement.

[2021-02-20 19:15] netwolfuk opened #178 "Send webhook from build step"
It would be useful to trigger a webhook at any point during the build.

Initial ideas:

- create build feature that listens for specific TeamCity service messages to trigger a webhook.
- create build step that sends TeamCity service message to build feature.

Add a new `BuildState` for accepting TeamCity service messages. Triggers whenever the message is seen by the build feature.

[2021-02-24 18:55] #178 closed

[2021-02-26 18:34] netwolfuk commented on #173
Hi @bnaji

I have a working build to test [available for download](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_173-tagged_build_events&buildTypeTab=overview&mode=builds).

[2021-02-26 18:41] netwolfuk commented on #173
Oh. There are lots of changes to the config. I doubt rolling back will be successful. It'd be best to try it on a test server first.

[2021-02-26 19:26] netwolfuk commented on #173
FYI. I'm seeing a race condition on my main TeamCity, but not under docker in my test environment or under docker on my laptop.

It looks like Apache http client is closing the http connection between the two events even both tagged and untagged are sent.

I'll work on that over the weekend, assuming I get some time.

[2021-03-03 08:06] netwolfuk commented on #173
So it turned out to be two issues.

1. I am an idiot, and was trying to send the same webhook for both events. Fixed by using the same config, but creating a new webhook instance for each build event type (tagged or untagged).
2. I needed to have a shared connection pool for sending lots of events quickly. Otherwise, the client would close out the connections and empty the pool. This has now been

[2021-07-14 14:08] JaniszewskiMarcin opened #185 "How to receive json payload from GitLab webhook using plugin?"
In the section when we can test webhooks, we can also see received json payloads that are POST to TeamCity for example from GitLab, my question is can we somehow **get to this payload to read it in build steps** or there is more easiest approach to get the whole informations about merge request becouese I can not found any help in documentation or another plugin that will make it possible. Thank y

[2021-08-13 21:37] netwolfuk commented on #185
Hi @JaniszewskiMarcin

Sorry for the late reply. If I understand correctly, you want and endpoint for receiving webhooks that you can interact with programmatically.

Currently, the testing endpoint does not support this. I would think the best way would be to query gitlab for the PR details as part of your build.

I think there is a plug-in in TeamCity that simplifies making REST calls to other s

[2021-08-13 21:45] netwolfuk commented on #185
This plug-in supports making REST requests as a step in your build. You can then use groovy to extract values and make them available as variables to your build.

https://plugins.jetbrains.com/plugin/9310-rest-runner

[2021-08-16 12:12] JaniszewskiMarcin commented on #185
Hi @netwolfuk,

I am really glad that you respond to my issue!

The main problem is that we want to trigger builds by GitLab for example if PR has received comment "/deploy" we want to trigger deployment job on TeamCity with parameters special to our PR. And now we can't use GET in build step because it requires merge number. And TeamCity receive PR parameters only when webhook is activated by Pus

[2021-08-20 20:38] netwolfuk commented on #185
Are you able to share the payload for a gitlab webhook?n it might be easier to write a separate plugin for TeamCity to trigger a build when that event happens.

[2021-09-07 21:36] netwolfuk commented on #185
I looked again at the trigger plugins. That looks like the best solution for you. Did you get an example of the GitLab webhook payload.

[2021-09-16 08:47] JaniszewskiMarcin commented on #185
`{
  "object_kind": "note",
  "event_type": "note",
  "user": {
    "id": 232,
    "name": "",
    "username": "",
    "avatar_url": "",
    "email": ""
  },
  "project_id": 12,
  "project": {
    "id": 12,
    "name": "Project",
    "description": "",
    "web_url": "",
    "avatar_url": null,
    "git_ssh_url": "",
    "git_http_url": "",
    "namespace": "DevOps",
    "visibility_level": 0,

[2021-09-16 09:06] netwolfuk commented on #185
Yes, I think it's relatively easy.

I started looking at it the other day. I was thinking it would be good to use `json-path` to define a location in the JSON structure and assign that to a variable.

Eg `my_branch=$.project.default_branch`

This would define a build parameter called `my_branch` with the value obtained from the JSON payload.

[2021-09-16 09:35] JaniszewskiMarcin commented on #185
Yes, `json-path` would be the best option but is there any simple way that we can for example store all the payload that is sent from GitLab with URL add2Queue in some kind of variable in job that could be even as a String, after that we could extract everything by code. Becouse the worst thing is that we don't know how to receive that payload it's only triggering the job but there is no endpoint

[2021-09-16 09:44] netwolfuk commented on #185
Good idea. Something like `payload` which contains the whole payload in case you need it.
I'll see what TeamCity will support there. Failing that, maybe a URL that will be set eg, `payload-url` from which you can download the payload that triggered the build as part of the build.

[2021-09-16 09:50] netwolfuk commented on #185
In Gitlab, how much control do you have over the URL that the Webhook is sent to?
Can you use variables in the URL? eg, branch_name, or project_name?

I wonder if the listener should listen on specific or generic URLs.

eg,
- `/app/webhook-trigger` and the plugin has to try to determine which build to trigger
-  or `/app/webhook-trigger/{teamcity_project_id}/{teamcity_build_id}` and the plugin can

[2021-09-16 13:57] JaniszewskiMarcin commented on #185
You can search it in the REST API documentation. We used something like that to trigger the job by adding it to queue  https://teamcityserver.pl/action.html?add2Queue=TestParametersJob and if we could even set one parameter from URL like https://teamcity.neuca.pl/action.html?add2Queue=TestParameters&env.MERGE_NUMBER=&.merge_request.iid that would be perfect because we could after that use cURL in

[2021-09-17 15:51] netwolfuk commented on #185
I made good progress this evening. Hopefully I'll have a plug-in for you to test within a week.

[2021-09-18 00:16] michaelpbean opened #186 "Failed to Initialize Spring Context"
## Expected Behavior
Successful installation

## Current Behavior
Error when installing tcWebHooks-REST-API-1.2.0-alpha.7-build.382.zip plugin

Failed to initialize Spring Context:
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'webHookTeamCityRestApiZipPluginFixer' defined in Byte array resource [plugin: tcWebHooks-rest-api#tcwebhooks-rest-api-1.2.0-alpha.7

[2021-09-18 00:24] michaelpbean commented on #186
It's a wild guess, but part of the error above is FileSystemNotFoundException on C:\Program%20Files\TeamCity\webapps\ROOT\WEB-INF\plugins\rest-api.zip. This may not be a valid Windows path and should be:
"C:\Program Files\TeamCity\webapps\ROOT\WEB-INF\plugins\rest-api.zip"
or
C:\Progra~1\TeamCity\webapps\ROOT\WEB-INF\plugins\rest-api.zip

[2021-09-18 01:00] netwolfuk commented on #186
Hi @michaelpbean

I've not seen this one before. Can I get a bit more detail please?

- Windows version
- Java version
- does the rest-api.zip file exist?

Since about TC 2020.1, the problem with the existing jars conflicting has been resolved, so I should really check the TC version and then skip the step of validating the plugin.

[2021-09-18 07:48] michaelpbean commented on #186
- Windows 10 Version 20H2 (Build 19042.1237)
- Java Version 8 Update 251 (Build 1.8.0_251-b08)
- And yes rest-api.zip exists at that path, and can be found with either path I mentioned, but not with %20 for the space in "Program Files".

[2021-09-18 08:00] netwolfuk commented on #186
Thanks @michaelpbean  Yes, I suspect you are right. It appears to be Java being dumb and treating paths as URL like objects. I'll looking into whether I can just this this stuff for 2021.x

[2021-09-18 08:43] netwolfuk commented on #186
A workaround is building now. I'll post the link shortly

[2021-09-18 09:02] netwolfuk commented on #186
Can you please try a build from here @michaelpbean

https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=bugfix%2Fdisable-jar-checking-for-new-teamcity-versions&buildTypeTab=overview&mode=builds

It's alpha7 patched so that it does not attempt to do the `rest-api.zip` checking for newer TC versions.

[2021-09-18 22:03] michaelpbean commented on #186
Yeah, that worked. Thanks for the quick fix!

[2021-09-18 22:03] #186 closed

[2021-09-18 22:49] netwolfuk commented on #186
Great. I'll merge that to master when I'm back at the computer so that it's there on the next release.

[2021-09-22 19:20] netwolfuk commented on #185
Hi @JaniszewskiMarcin . I can't see a commit ID in the payload. The build will just run against the newest code in the `source_branch`. Is that ok?

[2021-09-23 03:30] netwolfuk commented on #185
I looked up the Jenkins plugin and have identified the following requirements...
- Parameters resolved by the trigger plugin override any values defined on the build.
- A parameter should be able to be marked as required or optional.
- If optional, a default value could be defined so that that value is used for the build if the value is not found in the payload.
- If optional and no default is def

[2021-09-23 07:39] JaniszewskiMarcin commented on #185
Hi @netwolfuk! The latest commit hash you can find after $.merge_request.last_commit.id ^^I guess you looked on Jenkins notifier plugin which is working really well, yes we can filter parameters by regEx, set parameters to anything in a string by URL "buildWithParameters", If parameters will be null or empty there is no problem they can be for example set in TeamCity to the default value and if yo

[2021-09-24 22:14] netwolfuk commented on #185
Yep. This all makes sense to me.

Just one point to make you aware of.
If a value is not set in this plugin, but is defined by the normal build properties, then the normal property will  be used by the build.

However, it won't be possible to construct a new property from the one from the standard build.

An example.

`foo=$.foo` <- resolves
`bar=123` <- defined in the build
`fred=${foo} is a frie

[2021-09-25 23:36] netwolfuk commented on #186
BTW

I found the code in question. It's me being silly and converting it to a URL. That's because the library I am using takes a URL as the input. Oh well. I can't blame Java for that. 😉

[2021-09-28 08:42] JaniszewskiMarcin commented on #185
So in summary, If we will have parameters defined in the build the parameters from plugin will be ignored?

[2021-09-28 10:20] netwolfuk commented on #185
The parameters from the plugin will only be ignored if they are not able to be resolved AND they are not considered "required".

I hope to have something for you to test tomorrow

[2021-09-28 11:08] JaniszewskiMarcin commented on #185
That's fine, thank you for your help and work! 😃 I will be glad to test this thing out ^^

[2021-09-29 10:59] netwolfuk commented on #185
https://github.com/tcplugins/tcWebHookTrigger

[2021-09-29 14:51] JaniszewskiMarcin commented on #185
It's looking awesome, really great job so far 😄  What I understood the URL endpoint when we have to POST webhook to trigger the current job is still in work, right?

[2021-10-03 23:11] netwolfuk commented on #185
Hi @JaniszewskiMarcin
A new release with fixes for two more issues is now available. See https://github.com/tcplugins/tcWebHookTrigger/releases
I'll close this ticket now. I would suggest staring the `tcWebHookTrigger` project on Github, so that you get updates.
Any further discussion can happen on that issue board.

[2021-10-03 23:17] #185 closed

[2021-10-17 08:35] netwolfuk commented on #26
Hi @lurenlzm @jelco
I have added experimental support for forcing TeamCity to resolve variables before it would normally do so. This means that (in my limited testing) certain variables can be resolved before the build started event fires.

To test it, please download the plugin and rest plugin from the [issue_26-force_resolve_variables](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAn

[2021-10-17 08:37] netwolfuk commented on #102
Hi @dgilman. Please see comments on the end of #26
I've added a feature to resolve variables early in 1.2.0-alpha8

[2021-10-21 22:50] Snipx opened #189 "Support for more flexibility in Authorization headers"
Hi and thank you for your nice plugin!
I was trying to integrate it with Opsgenie (https://www.atlassian.com/software/opsgenie) but faced the following issue: Opsgenie requires `Authorization` header in a bit non-standard format: `Authorization: GenieKey xxxxx-.....-yyyyyy`. So it's almost same as `Bearer` token except that there is a different keyword. Would it be possible to provide a bit more f

[2021-10-21 23:48] netwolfuk commented on #189
Hi @Snipx

You should be able to do what you need by using a [custom header](https://github.com/tcplugins/tcWebHooks/wiki/Custom-Headers). It currently requires you to modify the `plugin-settings.xml`. You can do that on the server disk and TeamCity will reload it, or you can modify the file in server diagnostics.

![image](https://user-images.githubusercontent.com/88687/138371770-8ec40ff9-7aff-4e

[2021-10-24 14:36] #189 closed, assigned to nobody

[2021-11-07 21:55] NEdwards-Sharkmob commented on #26
I installed this version as I've been experiencing the same issue.

I found that using the force early resolve fixed the issue I was having where my %build.vcs.number% didn't resolve in Changes Loaded, but it didn't resolve for Build Succeeded or Build Failed events. I was able to verify this with the test webhooks feature.

However, when I tried using ${build.vcs.number} as the value in my projec

[2021-11-07 23:27] netwolfuk commented on #26
Hi @NEdwards-Sharkmob

Thanks for taking the time to test this.

I made an assumption that we'd only went to force resolve for early build stages. From memory, I don't think the force resolve tries to resolve the values in the build finished event. However due consistency, I should add that in.

Please also bear in mind that testing these sorts of variables in the UI based on a finished build ofte

[2021-11-12 18:47] netwolfuk commented on #26
Hi all.  A new build is available. This enables the resolver to run on the following:
`state.equals(BuildStateEnum.BUILD_FINISHED) || state.equals(BuildStateEnum.BUILD_SUCCESSFUL) || state.equals(BuildStateEnum.BUILD_FAILED) || state.equals(BuildStateEnum.BUILD_FIXED) || state.equals(BuildStateEnum.BUILD_BROKEN)`

Available from the [issue_26-force_resolve_variables](https://teamcity.jetbrains.com

[2021-11-16 05:57] jan0sch commented on #26
Variable resolution seems to work now. Thank you very much.

[2021-11-19 09:19] VasilevMaxim opened #190 "Change sender in slack"
Hi! Sorry to write about the problem here.
There is the following problem:

There is a teamcity server, the tcwebhooks plugin is installed on it.

When I insert the URL of a web hook from the Incoming Web Hooks section to the server, messages begin to be sent on my behalf, and not on behalf of the bot (TeamCity applications, that is, slack applications).

Can you tell me what I can do to make mess

[2021-11-19 10:32] netwolfuk commented on #190
Hi @VasilevMaxim
Looking at the screenshot you posted, the event is posted by the TeamCity app.

I'll have a look on the weekend and try to reproduce the problem you decide.

[2021-11-19 11:58] VasilevMaxim commented on #190
@netwolfuk

I'll describe everything in more detail just in case.

If I change the URL Ebook and select the "TeamCity App" (https://wampi.ru/image/RErXgAa) init application, then the messages really come from the bot application (https://wampi.ru/image/RErX668).

However, I want the boot application to send a message not to me, but to another person (for example, "Артём Богунов").

And if I specif

[2021-11-19 19:47] netwolfuk commented on #190
Hi @VasilevMaxim I think this is not possible in slack when using a webhook integration. I imagine this is intentional, otherwise any webhook could impersonate any other slack user.

Is there a problem with slack messages coming from the TeamCity App user? I personally think this makes good sense.

It is possible to mention a user by mapping their git username to their slack username. When using t

[2021-11-19 20:20] netwolfuk commented on #190
Hi @VasilevMaxim I found the example template that uses a jsonMap to define the mappings from git username to slack username.

You can see my post here; https://github.com/tcplugins/tcWebHooks/issues/156#issuecomment-623653846
I'll do some testing and make sure it works correctly.

[2021-11-19 21:55] VasilevMaxim commented on #190
Hi netwolfuk I may have misunderstood you, but my task is as follows: I need the bot (TeamCity app) to send a message to a team member on its own, just like the Slack notification built into TeamCity does.

So that the message does not come in a dialogue with me, but in a dialogue with the bot. Thanks!

[2021-11-19 23:12] netwolfuk commented on #190
Thanks @VasilevMaxim for the clarification.

The webhook uses the slack webhook API. I suspect that it would need to use the slack bot API to support your use case.

It might be possible to do a mapping of some kind, but now I understand why you'd need to create an webhook for every user on slack.

I have some experience with the not API from when I wrote the tcChatBot plugin. It is much more powe

[2021-11-20 15:39] VasilevMaxim commented on #190
@netwolfuk Hi))
So I need to write my own Slack bot?

[2021-11-24 13:40] jan0sch opened #191 "Add template for a gitea commit status event"
It would be great to have template(s) to publish commit status events to gitea.

The API is documented here: https://try.gitea.io/api/swagger#/repository/repoCreateStatus

[2021-11-24 17:54] netwolfuk commented on #191
Hi @jan0sch. Have you created templates yourself? https://github.com/tcplugins/tcWebHooks/wiki/WebHook-Templates-%3A-Web-UI

If so, you're welcome to create a pull request to share your template at https://github.com/tcplugins/tcWebHooksTemplates

[2021-11-25 08:45] jan0sch commented on #191
Oh cool, thanks for the info. I will take a look at it.

[2021-11-25 09:38] netwolfuk commented on #191
I just read through the readme for the templates project.

Importing and exporting are much easier than when i wrote those docs. You can now import and export from the action menu on the top right corner of the templates pages.

I'll try to get a chance to update the readme on the weekend.

[2021-11-25 10:50] jan0sch commented on #111
Hi,

maybe this is related. If I specify a webhook and/or webhook parameters on a build level then they are not associated to the build but to the parent project. The same happens if I define them on a sub-project (they are associated with the parent project).

[code]

[2021-11-25 15:59] netwolfuk commented on #111
Which tcWebhooks version are you running?

[2021-11-25 16:13] netwolfuk commented on #111
BTW. internally all the webhook configurations are stored against a project.. It's not possible to store this sort of config against a build. That is why they appear at the project level.

I'll look into what you say about the project details being stored against the parent project though.

[2021-11-25 16:42] jan0sch commented on #111
I am using `1.2.0-alpha.8-build.425`

It would be cool though if the custom webhook parameters could be stored on the build config level. Or is this not possible?

[2021-11-25 18:01] netwolfuk commented on #111
If I understand the use case, you want the same variable to resolve to different values for different build configs and want to reference them in the template?

If so, I think it's possible to create a TeamCity parameter in the build configuration and use that.

[2021-11-25 18:13] netwolfuk commented on #111
If you're using the velocity template engine, it's also possible to define a JSON map as the text of a parameter, and then use jsontool to convert it to a Java Map in the template.

If you used the buildTypeId as the key in the map you could reference the value in your template. I've done this before to map git usernames to slack handles.

[2021-11-26 08:10] jan0sch commented on #111
Thanks for the info.

As mentioned the problem is also with parameters. They as well get attached to the parent. :-(

Also I noticed that deleted webhooks are still shown in the overview list even when I cannot click on them. The global settings page for webhooks show the correct count though, so maybe that is some caching issue? To be more concrete the still shown ones are the hooks I defined whi

[2021-11-26 08:49] netwolfuk commented on #111
Thanks for all the feedback. I'll setup that version on a machine somewhere and test. I've broken my current dev environment as I'm in the middle of a huge refactor to reduce a lot of duplication in the JavaScript UI code

[2021-11-26 08:55] netwolfuk commented on #111
Just to confirm. Did you create the parameter in teamcity, or tcwebhooks?

I was intending you to create it on the TeamCity Build Config itself, rather than in the project webhook parameters.
![image](https://user-images.githubusercontent.com/88687/143553863-0cbb3866-3143-40a2-97fa-1cdb0931a1c1.png)

[2021-11-26 09:08] jan0sch commented on #111
Oh, I missed that one, thanks. But how can I reference them in the webhook? I need some of them to construct the proper URL. After creating a build parameter `foo` and `webhook.foo` which references (with `%foo%`) using it in the URL like `${foo}` just gives an `UNRESOLVED` upon testing.

[2021-11-26 09:26] netwolfuk commented on #111
if I understand correctly, you want to:
1. Define a per build config parameter.
2. Force resolve it early.
3. Refer to it in the URL.

I think this might work (untested).
1. Create a TeamCIty build config parameter called `foo`.
2. Create a tcWebHooks Project WebHook parameter named `bar`, choose force resolve, and set the value as `%foo%`
3. Add `${bar}` to your URL.

When the force resolve code

[2021-11-26 11:06] jan0sch commented on #111
This works but not for nested projects and also not if we have multiple build configurations under one project which whould need different variables. Because the variables are also assigned to the parent project we can only define a variable once.

We could circumvent the build issue problem by wrapping the build configs into sub projects but for that the issue of everything being attached to the

[2021-11-26 15:19] netwolfuk commented on #111
I must be missing something. I'm sorry I'm not understanding correctly.

If you define bar once for all projects, eg on the root project, and define foo as a parameter on every build you need it on.

This should work because bar is resolved at runtime against the instance of the build that is running.

[2021-11-26 16:13] jan0sch commented on #111
Here is a workflow with screenshots.

1. edit webhooks of a project -> define a webhook
  ![tc-webhooks-01](https://user-images.githubusercontent.com/373810/143607649-27229132-34cd-4c54-95d1-a4938ecb17da.png)
2. define a variable on a project because that will be used across all build configs/sub projects (CommitHash)
  ![tc-webhooks-02](https://user-images.githubusercontent.com/373810/143607679-8

[2021-11-26 17:45] netwolfuk commented on #111
Yep. Thanks. If I understand correctly, the `owner` should be unique per build config.

If so, create it as a TeamCity configuration parameter, and remove it from the Webhook parameters.

tcWebhooks will still find it with the name `${owner}`

[2021-11-26 20:50] netwolfuk commented on #111
Hi @jan0sch.

I just wanted to say thank you for taking the time to submit your comments. For me it seems obvious how this works because I wrote all internals, but I'll try to explain a bit more.

The WebHooks and WebHook Parameters are stored against the project in which they live. This is simply because that's the easiest place to store them (and the only place they could be stored when I first

[2021-11-26 21:15] netwolfuk commented on #111
BTW, here are some example searches.

- `/webhooks/search.html?buildTypeId=TcPlugins_TcWebhooksGitHub`
- `/webhooks/search.html?projectId=TcPlugins`
- `/webhooks/search.html?tag=enabled`
- `/webhooks/search.html?templateId=gitea`

[2021-11-27 12:27] jan0sch commented on #111
Defining the parameters as regular ones on the build configuration works. :tada: :fireworks:

Again thank you very much for your work and time! :heart:

[2021-11-27 19:21] netwolfuk commented on #111
You're welcome. I'm glad you got it all working.

[2021-12-08 20:32] nrukavkov opened #192 "Branch filter"
Hello. Sometimes we need to receive webhooks only for a particular branch. For example, we have some build configuration that does some important job. Teamcity users are allowed to use their branches. Also, we want to receive notifications about failed builds in our slack channel using our external web service. The problem is that we got information about all failures in the user's build. It would

[2021-12-09 06:01] netwolfuk commented on #192
Hi @nrukavkov

It is possible to filter a webhook by branch. However it's not very user friendly at the moment.

You can read about it on this page https://github.com/tcplugins/tcWebHooks/wiki/Applying-Filtering-Criteria-To-WebHook-Execution

I am in the middle of refactoring the UI code (JavaScript and jQuery) to include the editing of filters, parameters and headers.

[2021-12-09 06:09] netwolfuk commented on #192
For more details on how to edit the file from within the TeamCity UI, see issue #189

[2022-01-31 17:02] nrukavkov commented on #192
@netwolfuk thank you. Is it general settings and applicable for all projects? Or it could be redefined for a particular build configuration?

[2022-01-31 17:42] netwolfuk commented on #192
@nrukavkov  It's evaluated against the build that the webhook of triggered by.

When you configure a webhook you determine which project a webhook belongs to. Then when the build runs the webhook is triggered, and the filters are evaluated as the webhook is being assembled and are evaluated against the data in that build.

It's therefore applicable to any project that the webhook will trigger on.

[2022-02-04 09:51] George-A commented on #160
Had the same problem. Fixed by restarting teamscity.

[2022-02-04 09:57] netwolfuk commented on #160
Thanks @George-A

Could you please let me know which TeamCity and tcWebHooks versionsv you're running?

[2022-02-18 05:24] anatoly-kryzhanovsky opened #194 "WEbHook removed after server updated"
## Expected Behavior
Configured webhooks should preserve after TeamCity updated

## Current Behavior
After update all webhooks are removed

## Steps to Reproduce (for bugs)
1. configure webhooks for several build configuration
2. update teamcity via web interface
3. view web hook for build configuration

## Your Environment
* tcWebHooks Version: 1.1.374.403
* TeamCity Version: 2021.1+
* TeamCity s

[2022-02-18 09:38] netwolfuk commented on #194
Hi @anatoly-kryzhanovsky  I just did a test and installed a new TeamCity 2020.2.3 (in Docker).
I installed the tcWebHooks plugin and setup a webhook.
Then I updated TeamCity to 2021.2.2 (build 99660), and the webhook configuration is still there.

Can you take a look in the BuildServer data directory and see if the webhook is configured in the plugin-settings.xml for your project? For more details

[2022-02-18 10:14] anatoly-kryzhanovsky commented on #194
ok, just now i update from 2021.2.2 (99660) to 2021.2.3 (99711)
i checked plugin-settings in pluginData for several projects - webhooks present before update and i can see them thought  web interface
but after upgrade i can't set them in web interface, but they still present in plugin-settings.xml

may be i can provide more information? some logs?

[2022-02-18 10:38] netwolfuk commented on #194
tcWebHooks logs to TeamCity's server log. I think it's called `teamcity-server.log`.

You could have a look in the log for when TeamCity started up and you can see events in the log with the word `webhook`.

It should say that it's loading webhooks for project xyz. Does it have any errors there?

You could enable debug logging on TeamCity server and restart TeamCity to get more logging.

I'm not a

[2022-02-18 10:43] anatoly-kryzhanovsky commented on #194
i checked `teamcity-server.log`, i found related records, but all of them are info, not error

[2022-02-18 10:48] netwolfuk commented on #194
ok, these are what I am expecting to see...

[code]
and if there are errors loading the config, it will be near those messages.

Can you please copy a <webhooks> section from `plugin-settings.xml` in a project where the webhooks are working, and also the same section from another `plugin-settings.xml` where they are not displayed in the UI?

Please make sure to remove the URL or anything else that

[2022-02-18 10:52] netwolfuk commented on #194
Another thing to check. If you edit webhooks in the UI, do the changes appear in the `plugin-settings.xml` file for that project?

[2022-02-18 11:06] anatoly-kryzhanovsky commented on #194
for additional information: we are using configuration as code based on Kotlin DSL

[2022-02-18 11:09] netwolfuk commented on #194
ah! That's really interesting. Thank you so much for this detailed information. I will do some more investigation over the weekend.

Internally, there is a cache, and I wonder if it's not loading into the cache because it can't resolve the bt id. I will try to reproduce the issue you have raised, and look into fixing it.

Thanks so much for taking the time to raise this. I'll get back to you asap.

[2022-02-18 11:10] netwolfuk commented on #194
ok, that might be a factor too. I'll make sure to test using this style of config. Thank you!

[2022-02-18 11:22] anatoly-kryzhanovsky commented on #194
thank you, will be waiting for news!

[2022-02-18 11:22] netwolfuk commented on #194
I should really be using the id of the buildType. The problem is that these IDs can be changed by the user, and then I have to listen for these change events and then find all references and update them.

These bt numbers are not supposed to change, so it seemed safer to use them. However this bug would indicate that they can in fact change. Or maybe a build has been deleted in TeamCity? Is that p

[2022-02-18 12:14] anatoly-kryzhanovsky commented on #194
no, i did not change any build configuration. this is happened on server restart. may be i need to define explicit id in my dsl file... i need to read docs about that

[2022-02-18 20:36] netwolfuk commented on #194
Would you consider running 1.2 alpha version?

Looking at the 1.1 code, it's going to be a lot of work to fix this and it will all be thrown away because 1.2 manages configuration of webhooks in a very different way.

[2022-02-18 20:37] netwolfuk commented on #194
Btw, it's not fixed in 1.2, but should be a lot easier to fix on that version.

[2022-02-21 08:08] netwolfuk commented on #194
Hi @anatoly-kryzhanovsky I've not yet figured out why the BT ids have changed in your teamcity, but I have raised a support ticket with TeamCity to understand how that can happen.

If I understand your issue correctly, the webhook is configured but the BT numbers no longer match. These "build specific webhooks" are really just the same as project webhooks, but with only specific builds selected.

[2022-02-21 08:20] anatoly-kryzhanovsky commented on #194
thank you for your investigation.
yes, the reason of issue is look correctly and i think that it is teamcity issue (or may be feature?)

so, i think we need to wait response from JetBrains. can you provide issue link?

[2022-02-21 08:25] netwolfuk commented on #194
Sure. The ticket is https://youtrack.jetbrains.com/issue/TW-75142

[2022-03-20 01:09] netwolfuk commented on #156
FYI @Nachiket26   I found the page of differences from Velocity 1.7 to 2.x
https://velocity.apache.org/engine/2.3/upgrading.html

I'm doing some testing on 2.3, as there are some known issues with velocity prior to that version.

[2022-03-21 05:34] RainforestPie opened #196 "an error occurred when trying to edit event template"
## Expected Behavior

Encountered the same problem as https://github.com/tcplugins/tcWebHooks/issues/124, I want to edit event template for solving the problem.
## Current Behavior

However, an error occurs and the event template cannot be edited normally

## Steps to Reproduce (for bugs)

1. Visit `/webhooks/template.html?template=slack.com` in browser.
2. Try to edit the event template for **bui

[2022-03-21 05:41] netwolfuk commented on #196
Hi @RainforestPie   can you confirm that the tcWebHooks rest API plug-in is installed.

If so, can you confirm that the TeamCity server has been restarted since the plugins were installed?

[2022-03-21 05:51] RainforestPie commented on #196
@netwolfuk Thanks for such a quick reply!
I installed the tcWebHooks rest API plug-in, but might not have restarted TeamCity, I will try to restart it now.

[2022-03-21 05:59] RainforestPie commented on #196
Woking! Thank you very much!

[2022-03-21 05:59] #196 closed

[2022-03-21 06:04] netwolfuk commented on #196
You're welcome. I wish there was a way I could force TeamCity into requesting a restart. I'll see if there is a way to do that. Something about the fact that the rest API inherits from the TeamCity rest API plug-in and also the tcWebHooks plugin means that it doesn't warm load correctly.

Thanks for the feedback that that fixes it.

[2022-04-07 23:58] patroeper commented on #160
FWIW, I ran into this today after installing both plugins (Web Hooks + Web Hooks REST API) when creating my first template as an admin. The errors match what has already been reported ([`object Object`] browser prompt + 403/404 responses). Restarting TeamCity was my fix.

Versions:
[code]
Nice work on the plugin @netwolfuk. I wasn't expecting the feature richness; previewing a template on past bui

[2022-04-08 01:08] netwolfuk commented on #160
Thanks for the feedback @patroeper
I'll do some more investigation on whether it's possible to force a reboot on plug-in install or - better yet - whether I can actually fix the underlying cause.

[2022-04-08 07:40] Peterosh opened #197 "Dependent projects Parameters"
Hello. How do I get the parameters of dependent projects .for example ${dep. *. Build. VCS. Number}

[2022-04-08 07:50] netwolfuk commented on #197
Hi @Peterosh

Which version of tcWebHooks are you running?
Which template engine is your template using? Standard or Velocity.

For standard, I think I convert all the dotted names to with an underscore instead. Eg, `${dep_mybuild_Build_VCS_Number}`.

For Velocity I'd need to check, but I'm pretty sure they're there too somehow.

[2022-04-08 07:55] Peterosh commented on #197
Tcwebhook version is 1.1.374.403
I used a custom template.
Can I use a wildcard?
Such as ${dep_ * _Build_VCS_Number}
I've tried. He's not working

[2022-04-08 07:58] netwolfuk commented on #197
It's not possible to use a wildcard sorry.
What are you wanting to achieve? I might be able to give you some other suggestions.

[2022-04-08 08:03] Peterosh commented on #197
I want to use a set of templates for all project notifications.
But they dependent on different projects.
You know, different project dependencies, variables are different.
For example,
dep.pro1.build.vcs.number
dep.pro2.build.vcs.number
I want to use
dep.*.build.vcs.number

[2022-04-08 08:41] netwolfuk commented on #197
I think if there is anything I can try it will be on a velocity template as we can loop over lists and use conditionals.

I'll try some things over the weekend and come back to you.

[2022-04-08 08:45] Peterosh commented on #197
Thank you very much

[2022-04-09 02:15] netwolfuk commented on #197
Hi @Peterosh

I've written an example template which uses Velocity logic to loop over the parameters on the build.
You will need to install one of the [1.2.0 alpha releases](https://github.com/tcplugins/tcWebHooks/releases), so that you can use the Velocity template engine with a template.

The parameters on my test build look like this in the Teamcity UI
![image](https://user-images.githubusercon

[2022-04-09 02:26] netwolfuk commented on #197
BTW, the `${build]` object in a Webhook Template is a TeamCity `SBuild` class.
You can therefore access any methods on the SBuild class as defined in the TeamCity javadocs for https://javadoc.jetbrains.net/teamcity/openapi/current/jetbrains/buildServer/serverSide/SBuild.html

With Velocity, you can access an object item by name if the method starts with `get`, eg. `$build.parametersProvider` will

[2022-04-12 10:01] Peterosh commented on #197
Follow your steps to create templates and start reporting errors.
![image](https://user-images.githubusercontent.com/18716577/162933795-e494c5bb-c24d-44ed-ba3e-879680ff6895.png)

I just want to copy other templates or modify other templates. At this time, I will receive the following error
![image](https://user-images.githubusercontent.com/18716577/162934248-3676c7aa-8128-4c27-8849-ce8f3e8ce909.pn

[2022-04-13 21:23] patroeper commented on #53
@netwolfuk I read through #146 which brough me to this issue. I'm looking to do something similar wrt "securing" the webhook URL field. If I'm following these threads correctly, the latest alpha (currently `1.2.0-alpha.7`) contains some changes that might be useful.

I've installed this alpha release (both tcWebHooks + REST API + server restart) and am able to use the new webhooks-specific per-pro

[2022-04-14 23:28] netwolfuk commented on #53
Hi @patroeper   Thanks for your detailed comment.

Firstly, apologies for the slow reply. My email client on my phone had stopped receiving new messages. A pile of them just arrived.

WRT the secure token: yes, my intention is that the secure mechanism was invoked for parameters prefixed with `secure:`.  Pavel mentioned this but I can't find the reference at the moment. Maybe it was in person. How

[2022-04-15 14:07] patroeper commented on #53
@netwolfuk

I don't fully understand the history of scrambled/secure token values; our TC install was ~2018ish. I found a thread that provided some context, specifically this comment: https://youtrack.jetbrains.com/issue/TW-45181#focus=Comments-27-2051540.0-0

We are using VCS for TC settings, and I observe that our secure values are written as `credentialsJSON:uuid` in `project-config.xml` files

[2022-04-15 16:24] netwolfuk commented on #53
Oh. I just reread your comment. Hmm, I've never seen this credentials file before. I don't think my code will resolve that. Can you point me at some documentation on how I can setup TeamCity to use this?

[2022-04-15 17:09] patroeper commented on #53
Good to know; thanks!

---

Docs: https://www.jetbrains.com/help/teamcity/storing-project-settings-in-version-control.html#Storing+Secure+Settings

Here's the setting on our instance (found under `Administration` -> `Root Project` -> `Versioned Settings`):

![image](https://user-images.githubusercontent.com/1907784/163598893-3da6a037-e477-4db7-8d58-9e05fd2c2b23.png)

[2022-04-15 17:13] patroeper commented on #53
Also, one of the links I shared above has a broader discussion around the development/use of "credentials storage": https://youtrack.jetbrains.com/issue/TW-45181

[2022-04-16 23:10] netwolfuk commented on #53
Looking closely at your screenshot, I think I need to prepend the name, not the value with `secure:` and could remove the `boolean.secure` property.  I'll fix that first, and maybe this will improve this handling.

I have found that if I dig out the `credentials.json` file, and use the `zxx` value in the webhook parameter, then the value is resolved correctly, but that's a pain from UX perspective

[2022-04-16 23:14] netwolfuk commented on #53
Also, I can see the URL resolved in the logs, and the UI. This is probably not ideal.

![image](https://user-images.githubusercontent.com/88687/163693969-b82744f7-9212-4ce0-b093-c1b834eafa38.png)

Perhaps if URL value is resolved from a "secure" parameter, I need to just show the hostname. I do this in other places in the UI where the user does not have edit permission on a project.

[2022-04-16 23:27] netwolfuk commented on #53
Wow. This is exactly what you said in your first comment. I was obviously not having a good day that day. Sorry for all the confusion.

[2022-04-17 00:45] patroeper commented on #53
That's correct. But even more importantly, the purpose of the `credentials.json` file is to keep the `zxx` out of source control -- specifying the `zxx` value as a webhooks parameter puts it back into VCS (defeating the purpose of the `Store passwords and API tokens outside of VCS` setting).

[That YouTrack thread](https://youtrack.jetbrains.com/issue/TW-45181) mentions a `CredentialsStorage` inte

[2022-04-17 00:56] netwolfuk commented on #53
Thanks for the thoughtful and researched replies. I now have a better understanding and a good set of ideas to try.

I'm really rather hoping that setting the value correctly to secure will magically do all this for me. That's what Pavel implied.

I have some time off for Easter so hopefully I'll have progress on this.

[2022-04-17 00:58] netwolfuk commented on #53
Could you tell me what plug-in created the other parameter in your screenshot? Maybe I could see what that plug-in does to create that value.

[2022-04-17 01:24] patroeper commented on #53
I believe the settings in [this screenshot](https://user-images.githubusercontent.com/1907784/163271616-e69e5437-8daf-4d4f-8225-db2b5fc7da5e.png) were created by the [teamcity-oauth plugin](https://github.com/pwielgolaski/teamcity-oauth/).

[2022-04-17 01:40] patroeper commented on #53
Or those settings came from this area in TeamCity:

![image](https://user-images.githubusercontent.com/1907784/163696619-e88ea08c-5e94-43e1-a48a-8e4ffc9f67da.png)

... and I'm not sure if this screen is related to the OAuth plugin I mentioned above.

[2022-04-17 09:14] netwolfuk commented on #53
@patroeper I just wanted to say a huge thank you for your persistence on this. Your keen eye has found the issue with my parameter naming, and now that I have changed it, it really **just works**

The UX is simply...
1. Create a Webhook Parameter, and mark it as "Password"
2. Create a Webhook to reference the parameter.

Here is a VCS sync'd project:
[code]
And a non-VCS sync'd project:
[code]
I d

[2022-04-17 10:04] netwolfuk commented on #53
I have pushed to a branch which will build on [teamcity.jetbrains.com](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_53-hide_password&buildTypeTab=overview&mode=builds).

You're welcome to try a build on that branch. Hopefully I'll get a new alpha out this week which will contain this and couple of other changes. I'd like to try to get the URL sh

[2022-04-17 21:56] netwolfuk commented on #53
I'm interested in feedback on the way to hide the values.

1. _Automatically hide the URL and payload in both the teamcity logs and the UI when either contain a "secure" value._
    **Pros:**
    - This is more secure, and won't accidentally leak secure values.

    **Cons:**
    - This would be really hard to debug when you can't see the actual URL being used in the logs or UI.
      You might no

[2022-04-18 15:46] patroeper commented on #53
I don't have a strong or informed opinion on this, but thinking out loud (in text)...

---

Ignoring how much effort would be required, if I were writing a plugin, I'd want the plugin's behavior to closely match TeamCity's behavior for comparable tasks. WRT secure values, it looks like TC _(sometimes)_ masks the values in logs with asterisks.
  - I'm curious how this is implemented -- it looks to

[2022-05-06 20:07] netwolfuk commented on #53
I [asked the team] (https://youtrack.jetbrains.com/issue/TW-76099/Question-how-to-mask-data-in-logs-from-a-plugin) and the reply implies that it's their logger that does the password masking.

I have option 1 working. Basically I keep a flag inside the property resolver that toggles to true if any value that was secure was accessed. It does mean that I can't determine whether it was for the URL or

[2022-06-13 07:23] fury22pl opened #200 "Plugin completely broken in newest TeamCity"
With TeamCity 2022.04 the plugin is no longer usable. It installs correctly for both this one and the REST API one, but trying to create new webhook template is impossible. The button to create it doesn't do anything. That applies to both copying template and creating brand new one. I need custom JSON payload, but that's totally impossible as all confirmation buttons do not work.

[2022-06-13 08:38] netwolfuk commented on #200
Yeah. I've been trying to figure out if there is a way to determine the uptime of TeamCity versus the plug-in. If they're wildly different then recommend a restart. When the plug-in starts, I can't tell if it's the first time unless I create some sort of flag somewhere.

I'll keep thinking about it.

I'll close this ticket.

[2022-06-13 08:38] #200 closed

[2022-07-08 19:17] netwolfuk commented on #197
Great. I'll close this issue

[2022-07-08 19:17] #197 closed

[2022-07-08 19:19] #192 closed

[2022-07-08 19:20] #191 closed

[2022-07-08 19:22] netwolfuk commented on #190
Hi @VasilevMaxim  I havea not been able to determine how to change the user that the webhook is posted as in slack. Sorry. I will close this topic as it's not something that I can control in tcWebHooks.

[2022-07-08 19:22] #190 closed

[2022-07-08 19:24] netwolfuk commented on #168
I don't think there is anything I can do to resolve this issue. Hopefully they can fix it in TeamCity.

[2022-07-08 19:24] #168 closed

[2022-07-27 08:48] netwolfuk commented on #53
Hi @patroeper. After what can only be referred to as a terrible few months (insert reference to global pandemic here), I have a new build to test. It has the checkbox to show hide the values both in the UI and the log.

Please download a build from the [issue_53-hide_password](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_53-hide_password&buildTy

[2022-07-30 20:23] netwolfuk commented on #53
A new build is available on the above link. This fixes that bug where toggling the `Secure Values` checkbox didn't show/hide the URL in the history. I now look up the value of the config just before rendering the history items in case that checkbox has changed state since the webhook was executed.

[2022-07-30 20:24] netwolfuk commented on #53
@patroeper Do you want to do any testing on this, or should I just merge it? I ask because you're extremely thorough, and might pick up any issues I could have missed.

[2022-07-31 13:32] patroeper commented on #53
@netwolfuk I'll take a look this week

[2022-08-04 19:49] patroeper commented on #53
@netwolfuk I covered the happy-path for the `1.2.0-alpha.8-build.439` artifacts:

- The default state of checked/ticked for the `Show simplified URL in UI and prevent payload from logging secure values` seems like the right decision
- Secure parameters (the webhook URL, in my scenario) are scrubbed in the recent webhooks UI
- Toggling the checkbox allows for historical webhook activity to be read

[2022-08-04 23:46] netwolfuk commented on #53
Thanks so much for the taking the time to review it @patroeper

I have found one very minor unrelated bug.
When testing a webhook whilst editing it (in the last pane of the dialog), the stats object is not populated with the ProjectId.
Therefore, when the webhook did not use a secure value, so the mouseover in history for that webhook is supposed to say which project the webhook config belongs to,

[2022-08-06 11:44] #62 closed

[2022-08-09 10:47] netwolfuk commented on #146
This can now be completed by using a WebHook Project Parameter marked as "Password".
This feature is available in 1.2 alpha 8. See https://github.com/tcplugins/tcWebHooks/wiki/Hiding-Sensitive-Values-In-WebHook-Configuration

[2022-08-09 10:58] netwolfuk commented on #102
1.2.0-alpha8 finally released.

[2022-08-12 16:43] Edstub207 commented on #97
@netwolfuk Any update on this?

[2022-08-12 20:22] netwolfuk commented on #97
Hi @Edstub207. Thanks for the reminder. I am really close to having filters (and headers and parameters) editable in the UI.

At which point adding some quick filters would be relatively easy. I'm thinking the most useful ones would be "is default branch" and "is non-personal build".

[2022-08-13 15:41] Edstub207 commented on #97
@netwolfuk Thanks, sounds good :)

Do you know how long that might be?

[2022-08-14 19:57] netwolfuk commented on #97
@Edstub207 I'm really hoping to have 1.2 alpha 9 out within a month. That will be the last alpha and then a release candidate or two to address any bugs. Are you interested in running a (well tested) pre-release version?

[2022-08-14 20:56] Edstub207 commented on #97
@netwolfuk Yeah I'm up for testing a pre-release version :)

[2022-08-15 04:26] netwolfuk commented on #97
Cool. Thanks @Edstub207.  I'll post here whenever there is a new build on that branch.

[2022-09-09 02:45] matt-richardson opened #204 "999 :: Unexpected exception. Please log a bug on GitHub tcplugins/tcWebHooks. Exception was: null"
## Expected Behavior

Using a project based webhook sensitive parameter for a bearer auth token should work.

## Current Behavior

An error occurs:
[code]

Debugging it leads me to [this line](https://github.com/tcplugins/tcWebHooks/blame/master/tcwebhooks-core/src/main/java/webhook/teamcity/payload/content/ExtraParameters.java#L121), where it uses `previous` when it could be `null.` It should be

[2022-09-09 03:08] netwolfuk commented on #204
Yes! You're right. Thank you @matt-richardson

It looks like a regression from a merge of the two feature branches. It previously was correct [here](https://github.com/tcplugins/tcWebHooks/blame/0f8e28525fffe95463289eacc02611ee4885c149/tcwebhooks-core/src/main/java/webhook/teamcity/payload/content/ExtraParameters.java#L94)

I'll reproduce and check your PR on the weekend. I need to be sure there a

[2022-09-09 03:19] matt-richardson commented on #204
That'd be great - I've just shipped a thing that is intended to rely on these webhooks, so I'm super keen to get this fixed so I can unblock my other project!

Thanks for your help!

[2022-09-09 04:05] #204 closed

[2022-09-09 05:17] netwolfuk commented on #204
Released
https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-alpha9

[2022-09-09 05:17] netwolfuk commented on #204
Thanks for your work on it @matt-richardson

[2022-09-09 05:18] matt-richardson commented on #204
Wow. You are a legend. Thanks heaps, @netwolfuk!

[2022-09-09 05:24] netwolfuk commented on #204
Haha. You did all the work. 😂

[2022-09-09 06:34] netwolfuk commented on #204
I forgot to say, thank you for taking the time to test the alpha releases.

[2022-09-09 06:41] netwolfuk commented on #97
Hoping to have a build for you to test by the end of the weekend @Edstub207

[2022-09-09 07:37] matt-richardson commented on #204
No worries - my pleasure!

We've deployed the new version, and it's working a treat 🎉 . Thanks again!

[2022-09-09 11:04] netwolfuk opened #206 "Version 1.2.0 Release Candidate Buglets"
- ~~Saving a webhook on /webhooks/index.html with all events checked does not set description to "All Build Events"~~ **_Fixed_**
- ~~Saving a webhook on /webhooks/index.html does not fire "build finished events"~~ ***_Fixed_***
- ~~Can't easily add "Quick Filters" on filters UI" See #97~~ ***_Fixed_***
- Viewing webhook configurations for a build does not correctly show webhooks only relevant to

[2022-09-09 20:20] netwolfuk commented on #206
- Some links on the `webhooks/index.html` page refer to non-existant pages

[2022-09-09 23:10] netwolfuk commented on #206
- `webhooks/index.html` is not editable on mobile

[2022-09-10 01:43] netwolfuk commented on #97
![image](https://user-images.githubusercontent.com/88687/189464157-04508b60-d6b8-4b99-9088-c9cf794edbc5.png)

[2022-09-10 08:33] netwolfuk commented on #206
`webhooks/index.html` does not successfully delete webhooks.
They are removed from the config on disk but still appear in the UI.

[2022-09-10 21:06] netwolfuk commented on #206
Error message is not correctly displayed on `webhooks/index.html` when internal server error occurs.

Instead the response is a text string of the error objects hash.

[2022-09-11 11:01] netwolfuk commented on #97
@Edstub207  New builds available for the  [issue_3-add_filters_to_ui](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_3-add_filters_to_ui&buildTypeTab=overview&mode=builds) branch

I'm keeping track of issues related to these builds at #206

[2022-09-11 11:17] netwolfuk commented on #206
Check that webhook preview and test still work.
Check that template editing still works.

[2022-09-20 07:05] netwolfuk commented on #97
New changes pushed. Build will be available on the above link shortly.

[2022-09-20 07:16] netwolfuk commented on #206
Check the secure values checkbox is saved to webhook config.

[2022-09-29 19:51] netwolfuk commented on #97
New changes pushed. Builds available for the [issue_3-add_filters_to_ui](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_3-add_filters_to_ui&buildTypeTab=overview&mode=builds) branch.

[2022-10-04 06:52] liam-mackie commented on #131
Hey! Sorry to resurrect an old issue; we noticed that when non-administrators tried _copying_ a template from the root project to a different destination project, they saw 405s, but when they _created_ a template directly in the destination project, it worked fine!

[2022-10-04 08:49] netwolfuk commented on #131
Hi @liam-mackie  Thanks for commmenting. Can you let me know which version of the tcWebHooks plugin you're using?

I'll have a look and check if I can reproduce it locally.

[2022-10-04 09:10] netwolfuk commented on #131
Hmm. I am seeing a similar thing. I get a `403` because it tries to get the existing template and load it into the browser, so that it can save it back as a new template. I am using 1.20-alpha.10

I made a change this week so that getting an existing template requires edit project. I suspect I need to re-think that because of this feature.

If you say yet get a 405, I am guessing that it's trying

[2022-10-07 09:25] netwolfuk commented on #131
Hi @liam-mackie Thanks for your comment. I looked at your profile and assumed you work with @matt-richardson and are therefore probably running the very recent 1.2.0 alpha.

I installed alpha9 and have found two bugs that are present when using templates with a non-admin user.
1.  When copying an existing an existing `_Root` project template (which includes all bundled templates), the permissions

[2022-10-07 09:37] netwolfuk commented on #131
Actually. Reading the [above comment](https://github.com/tcplugins/tcWebHooks/issues/131#issuecomment-522729744), maybe I didn't implement it that way. I'll need to check the code over the weekend.

[2022-10-07 19:50] netwolfuk commented on #206
Allow copying a template without TeamCity administrator privileges. See #131

[2022-10-10 10:07] netwolfuk commented on #131
Hi @liam-mackie   I've just pushed a fix for the permissions, which should fix your issue. If you want to take look at the latest build on [this branch](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_3-add_filters_to_ui&buildTypeTab=overview&mode=builds)

[2022-10-10 10:10] netwolfuk commented on #97
More new changed pushed. [issue 3](https://teamcity.jetbrains.com/buildConfiguration/WebHooksAndOtherPlugins_TcWebHooks?branch=issue_3-add_filters_to_ui&buildTypeTab=overview&mode=builds)

[2022-10-14 06:39] netwolfuk commented on #131
I'm planning to merge this and release as 1.2.0-alpha.10 on the weekend. I'm hoping it's the last alpha before release candidate.

[2022-10-14 19:46] liam-mackie commented on #131
Sorry about the poor replies, I didn't get any emails about your replies for some reason! *shakes fist at gmail*

Yes, we are on 1.2.0 Alpha! Thanks so much for the swift fix! Excited for the RC! I will install alpha.10 on our prerelease TeamCity server in the coming days and test that it's been fixed! Once the RC is released, I'll update as well!

Thanks again for the fix and your time, it's much

[2022-10-14 20:28] Edstub207 commented on #97
Hey, @netwolfuk Sorry about not doing any testing of this - I've had to look at other areas recently. So not sure when/if I can do testing right now.

[2022-10-14 21:12] netwolfuk commented on #97
No problem @Edstub207. I've been there. Found a bug last night, but still hoping to get a release out this weekend.

[2022-10-14 21:15] netwolfuk commented on #131
No worries. I'm not getting emails either. *shakes fist at mail client*.

I found a bug last night, but still hoping to get a release out this weekend.

[2022-10-17 05:09] netwolfuk commented on #206
Improve wording WRT parent project templates when viewing the templates section of the project edit tab.

Should indicate that there are projects available from parent projects.

[2022-10-17 05:10] netwolfuk commented on #206
Some templates don't show an associated project on the templates list

[2022-10-17 07:47] netwolfuk commented on #131
Alpha 10 released https://github.com/tcplugins/tcWebHooks/releases

[2022-10-17 07:58] netwolfuk commented on #97
Alpha 10 released https://github.com/tcplugins/tcWebHooks/releases

[2022-10-17 20:56] netwolfuk commented on #206
Figure out how to remove the JavaScript test code from the packaged plug-in, as it adds 2MB.

[2022-11-07 18:19] netwolfuk commented on #206
Fix build queued message for slack template

[2022-11-14 04:20] netwolfuk commented on #3
Release candidate 1 released https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-rc1

[2022-11-14 04:21] netwolfuk commented on #131
Release candidate 1 released https://github.com/tcplugins/tcWebHooks/releases/tag/v1.2.0-rc1

[2022-11-14 09:09] netwolfuk commented on #97
Release Candidate 1 released https://github.com/tcplugins/tcWebHooks/releases

[2022-11-14 09:16] netwolfuk commented on #204
Release Candidate 1 released https://github.com/tcplugins/tcWebHooks/releases